
@{
    ViewBag.Title = "AikaTapit";
}



@section head{
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    
    <style>
        body {
            background-color: rgb(232,232,232);
        }

        div.wrapper {
            color: rgb(220, 220, 220); /*harmaa*/
            width: 100%;
            height: auto;
        }

        div.background {
            background-image: url('../../Images/rautatapit.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            border: 2px solid black;
            width: 100%;
            height: 1008px;
        }

        div.transbox {
            background-color: #ffffff;
            border: 1px solid black;
            opacity: 0.5;
            width: 100%;
            height: 100%;
        }

        div.transbox2 {
            background-color: #d6d6c2;
            opacity: 0.8;
            width: 100%;
            height: 100%; 
        }

        div.transbox p {
            margin-left: 30%;
            margin-right:10%;
            font-weight: bold;
            color: #ffffff;
            font-size: 200px;
            width: 100%;
            height: 100%;   
        }
    </style>

}

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-top:20px;">


    <!-- WRAPPER
    ================================================== -->
    <div class="wrapper">
        <!--BACKGROUND-->
        <div class="background">
            <div class="transbox">
                <div class="transbox2">
                    <p>TALVI KEVÄT KESÄ SYKSY</p>
                </div>
            </div>
        </div><!-- /.background END -->
    </div><!-- /.wrapper END -->
</div>



