
@{
    ViewBag.Title = "ButtOn";
}

@section scripts {
    <script src="~/Scripts/jquery-2.2.4.js"></script>

    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@

    @Scripts.Render("~/bundles/jqueryval")
}

@section head{
    <link href="~/Content/Mysite.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

    <style>
        body {
            background-color: rgb(39,43,62);
        }

        div.background {
            background-image: url('../../Images/jääpeilipysty.jpg');
            background-repeat: no-repeat;
            /*border: 2px solid black;*/
            /*margin: 50px;*/
            /*width: 1080px;*/
            height: 1920px;
            width: 100%;
        }

        div.transbox {
            /*margin: 5px;*/
            background-color: rgb(39,43,62); /*musta*/
            /*border: 1px solid black;*/
            opacity: 0.7;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            /*width: 1080px;*/
            height: 1920px;
            width: 100%;
        }

        div.transbox2 {
            /*margin: 5px;*/
            background-color: rgb(39,43,62); /*musta*/
            /*border: 1px solid black;*/
            opacity: 0.9;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            /*width: 1080px;*/
            height: 1920px;
            width: 100%;
        }

        div.transbox p {
            /*margin-left: 45%;*/
            /*margin-top: 50%;*/
            font-weight: bold;
            color: rgb(39,43,62);
            /*color: #ffffff;*/
            font-size: 200px;
            /*width: 1080px;*/
            height: 1920px;
            width: 100%;
        }

        div.pallot {
            /*margin-top: 5%;*/
            opacity: 0.8;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            text-align: center;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        div.col-sm-4 {
            margin-top: 5%;
            text-align: center;
            width: 100%;
        }

        p.Text {
            padding-top: 5px;
            padding-right: 5px;
            padding-bottom: 5px;
            padding-left: 5px;
        }

        .w3-myfont {
            font-family: "Comic Sans MS", /*cursive,*/, sans-serif;
            font-size: 45px;
            opacity: 0.9;
        }
    </style>
}


<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:0px;margin-top:10px;">

    <!-- Header -->
    <header class="w3-container" style="padding-top:10px">
        <h5><b><i class="fa fa-dashboard"></i></b></h5>
    </header>

    <!--BACKGROUND-->
    <div class="w3-container">
        <div class="background">
            <div class="transbox">
                <div class="transbox2">
                    <div class="pallot">

                        <div class="col-sm-3">
                            <div id="myDIVpyorre4">
                                <div class="w3-display-container w3-text-white w3-text-shadow">
                                    <a href="~/Sites/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                                    <div class="w3-display-middle w3-myfont">HELLO</div>
                                </div>
                            </div>
                        </div><!-- /.col-lg-3 -->

                        <div class="col-sm-3">
                            <div id="myDIVpyorre4">
                                <div class="w3-display-container w3-text-white w3-text-shadow">
                                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                                    <div class="w3-display-middle w3-myfont">HELLO</div>
                                </div>
                            </div>
                        </div><!-- /.col-lg-3 -->

                        <div class="col-sm-3">
                            <div id="myDIVpyorre4">
                                <div class="w3-display-container w3-text-white w3-text-shadow">
                                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                                    <div class="w3-display-middle w3-myfont">HELLO</div>
                                </div>
                            </div>
                        </div><!-- /.col-lg-4 -->

                        <div class="col-sm-3">
                            <div id="myDIVpyorre4">
                                <div class="w3-display-container w3-text-white w3-text-shadow">
                                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                                    <div class="w3-display-middle w3-myfont">HELLO</div>
                                </div>
                            </div>
                        </div><!-- /.col-lg-3 -->

                        <div class="clearfix"></div>

                        <div class="col-sm-3">
                            <div id="myDIVpyorre4">
                                <div class="w3-display-container w3-text-white w3-text-shadow">
                                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                                    <div class="w3-display-middle w3-myfont">HELLO</div>
                                </div>
                            </div>
                        </div><!-- /.col-lg-3 -->

                        <div class="col-sm-3">
                            <div id="myDIVpyorre4">
                                <div class="w3-display-container w3-text-white w3-text-shadow">
                                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                                    <div class="w3-display-middle w3-myfont">HELLO</div>
                                </div>
                            </div>
                        </div><!-- /.col-lg-3 -->

                        <div class="col-sm-3">
                            <div id="myDIVpyorre4">
                                <div class="w3-display-container w3-text-white w3-text-shadow">
                                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                                    <div class="w3-display-middle w3-myfont">HELLO</div>
                                </div>
                            </div>
                        </div><!-- /.col-lg-3 -->

                        <div class="col-sm-3">
                            <div id="myDIVpyorre4">
                                <div class="w3-display-container w3-text-white w3-text-shadow">
                                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                                    <div class="w3-display-middle w3-myfont">HELLO</div>
                                </div>
                            </div>
                        </div><!-- /.col-lg-3 -->

                        <div class="clearfix"></div>

                        <div class="col-sm-3">
                            <div id="myDIVpyorre4">
                                <div class="w3-display-container w3-text-white w3-text-shadow">
                                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                                    <div class="w3-display-middle w3-myfont">HELLO</div>
                                </div>
                            </div>
                        </div><!-- /.col-lg-3 -->

                        <div class="col-sm-3">
                            <div id="myDIVpyorre4">
                                <div class="w3-display-container w3-text-white w3-text-shadow">
                                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                                    <div class="w3-display-middle w3-myfont">HELLO</div>
                                </div>
                            </div>
                        </div><!-- /.col-lg-3 -->

                        <div class="col-sm-3">
                            <div id="myDIVpyorre4">
                                <div class="w3-display-container w3-text-white w3-text-shadow">
                                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                                    <div class="w3-display-middle w3-myfont">HELLO</div>
                                </div>
                            </div>
                        </div><!-- /.col-lg-3 -->

                        <div class="col-sm-3">
                            <div id="myDIVpyorre4">
                                <div class="w3-display-container w3-text-white w3-text-shadow">
                                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                                    <div class="w3-display-middle w3-myfont">HELLO</div>
                                </div>
                            </div>
                        </div><!-- /.col-lg-3 -->

                        <div class="clearfix"></div>

                        <div class="col-sm-3">
                            <div id="myDIVpyorre4">
                                <div class="w3-display-container w3-text-white w3-text-shadow">
                                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                                    <div class="w3-display-middle w3-myfont">HELLO</div>
                                </div>
                            </div>
                        </div><!-- /.col-lg-3 -->

                        <div class="col-sm-3">
                            <div id="myDIVpyorre4">
                                <div class="w3-display-container w3-text-white w3-text-shadow">
                                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                                    <div class="w3-display-middle w3-myfont">HELLO</div>
                                </div>
                            </div>
                        </div><!-- /.col-lg-3 -->

                        <div class="col-sm-3">
                            <div id="myDIVpyorre4">
                                <div class="w3-display-container w3-text-white w3-text-shadow">
                                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                                    <div class="w3-display-middle w3-myfont">HELLO</div>
                                </div>
                            </div>
                        </div><!-- /.col-lg-3 -->

                        <div class="col-sm-3">
                            <div id="myDIVpyorre4">
                                <div class="w3-display-container w3-text-white w3-text-shadow">
                                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                                    <div class="w3-display-middle w3-myfont">HELLO</div>
                                </div>
                            </div>
                        </div><!-- /.col-lg-3 -->

                        <div class="clearfix"></div>

                        <div class="col-sm-3">
                            <div id="myDIVpyorre4">
                                <div class="w3-display-container w3-text-white w3-text-shadow">
                                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                                    <div class="w3-display-middle w3-myfont">HELLO</div>
                                </div>
                            </div>
                        </div><!-- /.col-lg-3 -->

                        <div class="col-sm-3">
                            <div id="myDIVpyorre4">
                                <div class="w3-display-container w3-text-white w3-text-shadow">
                                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                                    <div class="w3-display-middle w3-myfont">HELLO</div>
                                </div>
                            </div>
                        </div><!-- /.col-lg-3 -->

                        <div class="col-sm-3">
                            <div id="myDIVpyorre4">
                                <div class="w3-display-container w3-text-white w3-text-shadow">
                                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                                    <div class="w3-display-middle w3-myfont">HELLO</div>
                                </div>
                            </div>
                        </div><!-- /.col-lg-3 -->

                        <div class="col-sm-3">
                            <div id="myDIVpyorre4">
                                <div class="w3-display-container w3-text-white w3-text-shadow">
                                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                                    <div class="w3-display-middle w3-myfont">HELLO</div>
                                </div>
                            </div>
                        </div><!-- /.col-lg-3 -->

                        <div class="clearfix"></div>

                        <div class="col-sm-3">
                            <div id="myDIVpyorre4">
                                <div class="w3-display-container w3-text-white w3-text-shadow">
                                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                                    <div class="w3-display-middle w3-myfont">HELLO</div>
                                </div>
                            </div>
                        </div><!-- /.col-lg-3 -->

                        <div class="col-sm-3">
                            <div id="myDIVpyorre4">
                                <div class="w3-display-container w3-text-white w3-text-shadow">
                                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                                    <div class="w3-display-middle w3-myfont">HELLO</div>
                                </div>
                            </div>
                        </div><!-- /.col-lg-3 -->

                        <div class="col-sm-3">
                            <div id="myDIVpyorre4">
                                <div class="w3-display-container w3-text-white w3-text-shadow">
                                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                                    <div class="w3-display-middle w3-myfont">HELLO</div>
                                </div>
                            </div>
                        </div><!-- /.col-lg-3 -->

                        <div class="col-sm-3">
                            <div id="myDIVpyorre4">
                                <div class="w3-display-container w3-text-white w3-text-shadow">
                                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                                    <div class="w3-display-middle w3-myfont">HELLO</div>
                                </div>
                            </div>
                        </div><!-- /.col-lg-3 -->

                        <div class="clearfix"></div>

                        <div class="col-sm-3">
                            <div id="myDIVpyorre4">
                                <div class="w3-display-container w3-text-white w3-text-shadow">
                                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                                    <div class="w3-display-middle w3-myfont">HELLO</div>
                                </div>
                            </div>
                        </div><!-- /.col-lg-3 -->

                        <div class="col-sm-3">
                            <div id="myDIVpyorre4">
                                <div class="w3-display-container w3-text-white w3-text-shadow">
                                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                                    <div class="w3-display-middle w3-myfont">HELLO</div>
                                </div>
                            </div>
                        </div><!-- /.col-lg-3 -->

                        <div class="col-sm-3">
                            <div id="myDIVpyorre4">
                                <div class="w3-display-container w3-text-white w3-text-shadow">
                                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                                    <div class="w3-display-middle w3-myfont">HELLO</div>
                                </div>
                            </div>
                        </div><!-- /.col-lg-3 -->

                        <div class="col-sm-3">
                            <div id="myDIVpyorre4">
                                <div class="w3-display-container w3-text-white w3-text-shadow">
                                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                                    <div class="w3-display-middle w3-myfont">HELLO</div>
                                </div>
                            </div>
                        </div><!-- /.col-lg-3 -->

                        <div class="clearfix"></div>
                    </div><!--pallot END-->
                </div><!--transbox2 END-->
            </div><!--transbox END-->
        </div><!--BACKGROUND END-->
    </div>
</div>


<script src="~/Scripts/jquery-2.2.4.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

