
@{
    ViewBag.Title = "ButtOnDownUp";
}


@section scripts {
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

}

@section head{
    <link href="~/Content/Mysite.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link href="~/Content/Buttondown.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <style>
        body {
            background-color: rgb(39,43,62);
        }

        div.wrapper {
            color: rgb(220, 220, 220); /*harmaa*/
            width: 100%;
            height: auto;
        }

        div.background {
            background-image: url('../../Images/jääpeilipysty.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 1800px;
            text-align: center;
        }

        div.transbox {
            background-color: rgb(39,43,62); /*musta*/
            opacity: 0.7;
            width: 100%;
            height: 100%;
        }

        div.transbox2 {
            background-color: rgb(39,43,62); /*musta*/
            opacity: 0.9;
            width: 100%;
            height: 100%;
        }

        div.transbox p {
            font-weight: bold;
            color: rgb(39,43,62);
            font-size: 50px;
            width: 100%;
        }

        div.pallot {
            opacity: 0.8;
            text-align: center;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            padding: 3%;
            width: 100%;
            height: 100%;
        }

        div.col-sm-1 {
            padding-top: 8%;
            text-align: center;
        }

        p.Text {
            padding-top: 5px;
            padding-right: 5px;
            padding-bottom: 5px;
            padding-left: 5px;
        }

        div.butonright {
            position: relative;
            animation: mymove 10s infinite;
            animation-fill-mode: forwards;
        }

        material-icons {
            text-align: center;
        }
    </style>
}


<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-top:10px;">

    <!--BACKGROUND-->
    <div class="wrapper">
        <div class="background">
            <div class="transbox">
                <div class="transbox2">
                    <div class="pallot">

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="butonright">
                            <div class="col-sm-1">
                                <div id="myDIVpyorre4">
                                    <div class="w3-display-container w3-text-white w3-text-shadow">
                                        <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:50px;color:silver;">ac_unit</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>











                    </div><!--pallot END-->
                </div><!--transbox2 END-->
            </div><!--transbox END-->
        </div><!--BACKGROUND END-->
    </div>
</div>






