
@{
    ViewBag.Title = "Ikkuna";
}


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
<script src="http://code.jquery.com/jquery.min.js"></script>


@section scripts{

    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/respond.js"></script>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery-2.2.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    @Scripts.Render("~/bundles/jqueryval")
}

@section head{
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/Sectionscripts/carousel.css" rel="stylesheet" />*@
    <link href="~/Sectionscripts/Site.css" rel="stylesheet" />

    <style>
        div.background {
            background-image: url('../../Images/ikkuna2.jpg');
            border: 1px solid black;
            /*margin: 0 auto;*/
            width: 100%;
            /*height: 1920px;*/
            height:100%;
        }

        div.transbox {
            /*margin: 5px;*/
            background-color: #0d0d0d; /*musta*/
            border: 1px solid black;
            opacity: 0.5;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            width: 100%;
            height: 1920px;
        }

        div.transbox2 {
            /*margin: 5px;*/
            background-color: #0d0d0d; /*musta*/
            border: 1px solid black;
            opacity: 0.8;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            width: 100%;
            height: 1920px;
        }

        div.transbox3 {
            /*margin: 5px;*/
            background-color: #0d0d0d; /*musta*/
            border: 1px solid black;
            opacity: 0.9;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            width: 100%;
            height: 1920px;
        }

        div.transbox p {
            margin: 4%;
            font-weight: bold;
            color: #d4d4d4; /*harmaa*/
            font-size: 300px;
            width: 100%;
            height: 1920px;
        }
    </style>
}

<body class="w3-light-grey">

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:0px;margin-top:20px;">

        <!-- Header -->
        <header class="w3-container" style="padding-top:22px">
            <h5><b><i class="fa fa-dashboard"></i> </b></h5>
        </header>

        <!--BACKGROUND-->
        <div class="background">
            <div class="transbox">
                <div class="transbox2">
                    <div class="transbox3">
                        <p>TALVI KEVÄT KESÄ SYKSY</p>
                    </div>
                </div>
            </div>
        </div><!--BACKGROUND END-->
    </div>

    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>

