
@{
    ViewBag.Title = "Ikkuna2";
}


@section scripts {
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
}

@section head{
    <link href="~/Content/Mysite.css" rel="stylesheet" />
    <style>
        body {
            background-color: rgb(232,232,232);
        }

        div.wrapper {
            color: rgb(220, 220, 220); /*harmaa*/
            width: 100%;
        }

        div.background {
            background-image: url('../../Images/ikkuna3.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 1920px;
            width: 100%;
        }

        div.transbox {
            background-color: #ffffff;
            opacity: 0.5;
            width: 100%;
            height: 1920px;
        }

        div.transbox2 {
            background-color: #d6d6c2;
            opacity: 0.8;
            width: 100%;
            height: 100%;
        }

        div.transbox p {
            margin-left: 35%;
            font-weight: bold;
            color: #ffffff;
            font-size: 200px;
            width: 100%;
        }
    </style>
}

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-top:10px;">

    <!-- WRAPPER
    ================================================== -->
    <div class="wrapper">
        <!--BACKGROUND-->
        <div class="background">
            <div class="transbox">
                <div class="transbox2">
                    <p style="margin-left:250px;margin-top:300px; float:left">
                        TALVI <br />
                        KEVÄT <br />
                        KESÄ<br />
                        SYKSY
                    </p>
                </div>
            </div>
        </div><!-- /.background END -->
    </div><!-- /.wrapper END -->
</div>