
@{
    ViewBag.Title = "JaaPyorre";
}

@section scripts {
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
}

@section head{
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link href="~/Content/Mysite.css" rel="stylesheet" />

    <style>
        body {
            background-color: rgb(232,232,232);
        }

        div.background {
            background-image: url('../../Images/jääpysty.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            border: 1px solid black;
            width: 100%;
            height: 1300px;
        }

        div.transbox {
            background-color: #ffffff;
            opacity: 0.5;
            width: 100%;
            height: 100%;
            text-align: center;
        }

        div.transbox2 {
            background-color: #b6d8dc; /*t.harmaa*/
            opacity: 0.8;
            width: 100%;
            height: 100%; 
        }

        .transbox p {
            padding-left: 5%;
            padding-top: 5%;
            font-weight: bold;
            color: #393737;
            font-size: 100px;
            width: 100%;
        }

        .pallot {
            opacity: 0.9;
            text-align: center;
        }

        .col-sm-3 {
            text-align: center;
        }

        div.teksti {
            /*position: absolute;*/ /*rivittää tekstin ruutuun*/
            font-size: 40px;
            font-weight: bold;
            text-align: center;
        }
        div.teksti2 {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
        }

        .img-circle {
            border-radius: 50%;
            width: 100px;
            height: 100px;
        }

        img {
           /* position: absolute;*/      
            z-index: -1;
        }
    </style>
}

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-top:5px;">

    <!--BACKGROUND-->
        <div class="background">
            <div class="transbox">
                <div class="transbox2">

                    <div class="col-sm-3">
                        <div class="teksti">ICE</div>
                        <div id="myDIVpyorre">
                            <div class="teksti2">ICE</div>
                            <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="vesibutton">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="teksti">ICE</div>
                        <div id="myDIVpyorre">
                            <div class="teksti2">ICE</div>
                            <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="vesibutton">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="teksti">ICE</div>
                        <div id="myDIVpyorre">
                            <div class="teksti2">ICE</div>
                            <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="vesibutton">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="teksti">ICE</div>
                        <div id="myDIVpyorre">
                            <div class="teksti2">ICE</div>
                            <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="vesibutton">
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-sm-3">
                        <div class="teksti">ICE</div>
                        <div id="myDIVpyorre">
                            <div class="teksti2">ICE</div>
                            <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="vesibutton">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="teksti">ICE</div>
                        <div id="myDIVpyorre">
                            <div class="teksti2">ICE</div>
                            <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="vesibutton">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="teksti">ICE</div>
                        <div id="myDIVpyorre">
                            <div class="teksti2">ICE</div>
                            <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="vesibutton">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="teksti">ICE</div>
                        <div id="myDIVpyorre">
                            <div class="teksti2">ICE</div>
                            <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="vesibutton">
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-sm-3">
                        <div class="teksti">ICE</div>
                        <div id="myDIVpyorre">
                            <div class="teksti2">ICE</div>
                            <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="vesibutton">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="teksti">ICE</div>
                        <div id="myDIVpyorre">
                            <div class="teksti2">ICE</div>
                            <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="vesibutton">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="teksti">ICE</div>
                        <div id="myDIVpyorre">
                            <div class="teksti2">ICE</div>
                            <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="vesibutton">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="teksti">ICE</div>
                        <div id="myDIVpyorre">
                            <div class="teksti2">ICE</div>
                            <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="vesibutton">
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-sm-3">
                        <div class="teksti">ICE</div>
                        <div id="myDIVpyorre">
                            <div class="teksti2">ICE</div>
                            <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="vesibutton">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="teksti">ICE</div>
                        <div id="myDIVpyorre">
                            <div class="teksti2">ICE</div>
                            <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="vesibutton">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="teksti">ICE</div>
                        <div id="myDIVpyorre">
                            <div class="teksti2">ICE</div>
                            <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="vesibutton">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="teksti">ICE</div>
                        <div id="myDIVpyorre">
                            <div class="teksti2">ICE</div>
                            <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="vesibutton">
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-sm-3">
                        <div class="teksti">ICE</div>
                        <div id="myDIVpyorre">
                            <div class="teksti2">ICE</div>
                            <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="vesibutton">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="teksti">ICE</div>
                        <div id="myDIVpyorre">
                            <div class="teksti2">ICE</div>
                            <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="vesibutton">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="teksti">ICE</div>
                        <div id="myDIVpyorre">
                            <div class="teksti2">ICE</div>
                            <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="vesibutton">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="teksti">ICE</div>
                        <div id="myDIVpyorre">
                            <div class="teksti2">ICE</div>
                            <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="vesibutton">
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-sm-3">
                        <div class="teksti">ICE</div>
                        <div id="myDIVpyorre">
                            <div class="teksti2">ICE</div>
                            <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="vesibutton">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="teksti">ICE</div>
                        <div id="myDIVpyorre">
                            <div class="teksti2">ICE</div>
                            <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="vesibutton">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="teksti">ICE</div>
                        <div id="myDIVpyorre">
                            <div class="teksti2">ICE</div>
                            <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="vesibutton">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="teksti">ICE</div>
                        <div id="myDIVpyorre">
                            <div class="teksti2">ICE</div>
                            <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="vesibutton">
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-sm-3">
                        <div class="teksti">ICE</div>
                        <div id="myDIVpyorre">
                            <div class="teksti2">ICE</div>
                            <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="vesibutton">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="teksti">ICE</div>
                        <div id="myDIVpyorre">
                            <div class="teksti2">ICE</div>
                            <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="vesibutton">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="teksti">ICE</div>
                        <div id="myDIVpyorre">
                            <div class="teksti2">ICE</div>
                            <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="vesibutton">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="teksti">ICE</div>
                        <div id="myDIVpyorre">
                            <div class="teksti2">ICE</div>
                            <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="vesibutton">
                        </div>
                    </div>

                    <div class="clearfix"></div>



                </div>
            </div>
        </div><!--BACKGROUND END-->
    </div>






