
@{
    ViewBag.Title = "Kesakuvat";
}

@section scripts{
    <link href="~/Content/Kuvat.css" rel="stylesheet" />
    <link href="~/Content/carousel.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jqueryval")
}

@section head{
    <style>
        div.background {
            background-image: url('../../Images/juhannusruusutausta.jpg');
            border: 2px solid black;
            padding-top: 200px;
        }

        div.img {
            border: 1px solid #ccc;
        }

            div.img:hover {
                border: 1px solid #777;
            }

            div.img img {
                width: 100%;
                height: auto;
            }

        div.desc {
            padding: 15px;
            text-align: center;
        }

        * {
            box-sizing: border-box;
        }

        .responsive {
            padding: 0 6px;
            float: left;
            width: 24.99999%;
        }

        .clearfix:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
}

<!-- WRAPPER
================================================== -->
<div class="wrapper">

    <!--BACKGROUND-->
    <div class="background">

        <!--KESÄKUVAT-->

        <h2 style="text-align:center">Kesäkuvia</h2>

        <div class="responsive">
            <div class="img">
                <a target="_blank" href="kesäkuunmerenranta2014.jpg">
                    <img src="~/Images/kesäkuunmerenranta2014.jpg" alt="kesä2014" width="600" height="400">
                </a>
                <div class="desc">Rannalla.</div>
            </div>
        </div>

        <div class="responsive">
            <div class="img">
                <a target="_blank" href="kesälaituri2014.jpg">
                    <img src="~/Images/kesälaituri2014.jpg" alt="kesä2014" width="600" height="400">
                </a>
                <div class="desc">Hiljaisuus.</div>
            </div>
        </div>

        <div class="responsive">
            <div class="img">
                <a target="_blank" href="merisafe2014.jpg">
                    <img src="~/Images/merisafe2014.jpg" alt="kesä2014" width="600" height="400">
                </a>
                <div class="desc">Turvassa.</div>
            </div>
        </div>

        <div class="responsive">
            <div class="img">
                <a target="_blank" href="elokuunkuu2014.jpg">
                    <img src="~/Images/elokuunkuu2014.jpg" alt="elokuu2014" width="600" height="400">
                </a>
                <div class="desc">Elokuunkuu.</div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="responsive">
            <div class="img">
                <a target="_blank" href="kesäkuu2015.jpg">
                    <img src="~/Images/kesäkuu2015.jpg" alt="kesä2015" width="600" height="400">
                </a>
                <div class="desc">#</div>
            </div>
        </div>

        <div class="responsive">
            <div class="img">
                <a target="_blank" href="kesäkuun saniaiset2015.jpg">
                    <img src="~/Images/kesäkuun saniaiset2015.jpg" alt="kesä2015" width="600" height="400">
                </a>
                <div class="desc">#</div>
            </div>
        </div>

        <div class="responsive">
            <div class="img">
                <a target="_blank" href="heinäkuu2015_2.jpg">
                    <img src="~/Images/heinäkuu2015_2.jpg" alt="heinäkuu2015" width="600" height="400">
                </a>
                <div class="desc">#</div>
            </div>
        </div>

        <div class="responsive">
            <div class="img">
                <a target="_blank" href="heinäkuun2015kuu.jpg">
                    <img src="~/Images/heinäkuun2015kuu.jpg" alt="heinäkuu2015" width="600" height="400">
                </a>
                <div class="desc">Heinäkuunkuu.</div>
            </div>
        </div>

        <div class="clearfix"></div>

        <!--<div style="padding:6px;">-->
        <!--This example use media queries to re-arrange the images on different screen sizes: for screens larger than 700px wide, it will show four images side by side, for screens smaller than 700px, it will show two images side by side. For screens smaller than 500px, the images will stack vertically (100%).</p>
        <p>You will learn more about media queries and responsive web design later in our CSS Tutorial.</p>
        <h4>Resize the browser window to see the effect.</h4>-->
        <!--KESÄKUVAT END-->

    </div><!--BACKGROUND END-->
</div><!-- /.wrapper END -->
