
@{
    ViewBag.Title = "KesaPyora";
}

@section scripts{
    <!-- Custom styles for this template -->
    <script src="~/Scripts/jquery-2.2.4.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}
@section head {
    <link href="~/Content/carousel.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <style>
        div.background {
            background-image: url('../../Images/jääpeilipysty.jpg');
            border: 2px solid black;
            opacity: 0.8;
            margin: 50px;
            width: 1080px;
            height: 1920px;
            text-align: center;
        }

        div.transbox {
            margin: 5px;
            background-color: #ffffff;
            border: 1px solid black;
            opacity: 0.6;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            width: 1065px;
            height: 1905px;
        }

            div.transbox p {
                margin-top: 5%;
                margin-left: 5%;
                font-weight: bold;
                color: #808080;
                font-size: 74px;
                text-align: center;
                /*width: 1035px;
            height: 1875px;*/
            }

        div.ratas {
            margin-top: 5%;
            opacity: 0.7;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            text-align: center;
        }
    </style>
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

    <div class="background">
        <div class="transbox">
            <div class="ratas">
                <div class="w3-container">

                    <div class="col-sm-4">
                        <p><i class="fa fa-cog w3-spin" style="font-size:200px; color:lightgrey;"></i></p>
                    </div>

                    <div class="col-sm-4">
                        <p><i class="fa fa-cog w3-spin" style="font-size:400px; color:black;"></i></p>
                    </div>

                    <div class="col-sm-4">
                        <p><i class="fa fa-cog w3-spin" style="font-size:100px; color:powderblue;"></i></p>
                    </div>

                    <div class="col-sm-4">
                        <p><i class="fa fa-cog w3-spin" style="font-size:250px; color:rgb(46, 40, 40, 0.72);"></i></p>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-sm-4">
                        <p><i class="fa fa-cog w3-spin" style="font-size:250px; color:rgb(46, 40, 40, 0.72);"></i></p>
                    </div>

                    <div class="col-sm-4">
                        <p><i class="fa fa-cog w3-spin" style="font-size:100px; color:powderblue;"></i></p>
                    </div>

                    <div class="col-sm-4">
                        <p><i class="fa fa-cog w3-spin" style="font-size:200px; color:lightgrey;"></i></p>
                    </div>

                    <div class="col-sm-4">
                        <p><i class="fa fa-cog w3-spin" style="font-size:400px; color:black;"></i></p>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-sm-4">
                        <p><i class="fa fa-cog w3-spin" style="font-size:400px; color:black;"></i></p>
                    </div>

                    <div class="col-sm-4">
                        <p><i class="fa fa-cog w3-spin" style="font-size:250px; color:rgb(46, 40, 40, 0.72);"></i></p>
                    </div>

                    <div class="col-sm-4">
                        <p><i class="fa fa-cog w3-spin" style="font-size:100px; color:powderblue;"></i></p>
                    </div>

                    <div class="col-sm-4">
                        <p><i class="fa fa-cog w3-spin" style="font-size:200px; color:lightgrey;"></i></p>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-sm-4">
                        <p><i class="fa fa-cog w3-spin" style="font-size:100px; color:powderblue;"></i></p>
                    </div>

                    <div class="col-sm-4">
                        <p><i class="fa fa-cog w3-spin" style="font-size:200px; color:lightgrey;"></i></p>
                    </div>

                    <div class="col-sm-4">
                        <p><i class="fa fa-cog w3-spin" style="font-size:400px; color:black;"></i></p>
                    </div>

                    <div class="col-sm-4">
                        <p><i class="fa fa-cog w3-spin" style="font-size:250px; color:rgb(46, 40, 40, 0.72);"></i></p>
                    </div>

                    <div class="clearfix"></div>

                </div>
            </div>
        </div>
    </div>



</body>