
@{
    ViewBag.Title = "KesaPyora";
}

@section scripts{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}
@section head {

    <style>
        div.wrapper {
            color: rgb(220, 220, 220); /*harmaa*/
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
            margin-right: auto;
            margin-left: auto;
        }

        div.background {
            background-image: url('../../Images/jääpeilipysty.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            border: 2px solid black;
            opacity: 0.9;
            width: 100%;
            height: 1500px;
            text-align: center;
            padding: 8px 8px 8px 8px;
        }

        div.transbox {
            background-color: #ffffff;
            border: 1px solid black;
            opacity: 0.3;
            width: 100%;
            height: 100%;
            padding: 8px 8px 8px 8px;
            text-align: center;
        }

            div.transbox p {
                font-weight: bold;
                color: #808080;
                text-align: center;
                width: 100%;
            }

        .col-sm-3 {
            padding-top: 5px;
        }
    </style>
}


<div class="wrapper">
    <div class="background">
        <div class="transbox">
            <div class="col-sm-3">
                <p><i class="fa fa-cog w3-spin" style="font-size:200px; color:lightgrey;"></i></p>
            </div>

            <div class="col-sm-3">
                <p><i class="fa fa-cog w3-spin" style="font-size:400px; color:black;"></i></p>
            </div>

            <div class="col-sm-3">
                <p><i class="fa fa-cog w3-spin" style="font-size:100px; color:powderblue;"></i></p>
            </div>

            <div class="col-sm-3">
                <p><i class="fa fa-cog w3-spin" style="font-size:250px; color:rgb(46, 40, 40, 0.72);"></i></p>
            </div>

            <div class="clearfix"></div>

            <div class="col-sm-3">
                <p><i class="fa fa-cog w3-spin" style="font-size:250px; color:rgb(46, 40, 40, 0.72);"></i></p>
            </div>

            <div class="col-sm-3">
                <p><i class="fa fa-cog w3-spin" style="font-size:100px; color:powderblue;"></i></p>
            </div>

            <div class="col-sm-3">
                <p><i class="fa fa-cog w3-spin" style="font-size:200px; color:lightgrey;"></i></p>
            </div>

            <div class="col-sm-3">
                <p><i class="fa fa-cog w3-spin" style="font-size:400px; color:black;"></i></p>
            </div>

            <div class="clearfix"></div>

            <div class="col-sm-3">
                <p><i class="fa fa-cog w3-spin" style="font-size:400px; color:black;"></i></p>
            </div>

            <div class="col-sm-3">
                <p><i class="fa fa-cog w3-spin" style="font-size:250px; color:rgb(46, 40, 40, 0.72);"></i></p>
            </div>

            <div class="col-sm-3">
                <p><i class="fa fa-cog w3-spin" style="font-size:100px; color:powderblue;"></i></p>
            </div>

            <div class="col-sm-3">
                <p><i class="fa fa-cog w3-spin" style="font-size:200px; color:lightgrey;"></i></p>
            </div>

            <div class="clearfix"></div>

            <div class="col-sm-3">
                <p><i class="fa fa-cog w3-spin" style="font-size:100px; color:powderblue;"></i></p>
            </div>

            <div class="col-sm-3">
                <p><i class="fa fa-cog w3-spin" style="font-size:200px; color:lightgrey;"></i></p>
            </div>

            <div class="col-sm-3">
                <p><i class="fa fa-cog w3-spin" style="font-size:400px; color:black;"></i></p>
            </div>

            <div class="col-sm-3">
                <p><i class="fa fa-cog w3-spin" style="font-size:250px; color:rgb(46, 40, 40, 0.72);"></i></p>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>



