@{
    ViewBag.Title = "KesaImage1";
}

@section scripts {

}

@section head{

    <link href="~/Content/carousel.css" rel="stylesheet" />
   
    <style>
        div.wrapper {
            color: rgb(220, 220, 220); /*harmaa*/
            width: 100%;
        }

        div.background {
            background-image: url('../../Images/hiekka.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            border: 2px solid black;
            width: 100%;
            height: 100%;
            padding: 8px 8px 8px 8px;
        }

        div.transbox {
            background-color: #ffffff;
            border: 1px solid black;
            opacity: 0.5;
            width: 100%;
            height: 100%;
            padding: 8px 8px 8px 8px;
        }

        div.transbox2 {
            background-color: #b6d8dc;
            border: 1px solid black;
            opacity: 0.9;
            width: 100%;
            height: 100%;
            padding: 8px 8px 8px 8px;
        }

        div.transbox p {
            margin: 20%;
            font-weight: bold;
            color: #ffffff;
            font-size: 500px;
            width: 100%;
        }
    </style>
}

<!--BACKGROUND-->
<div class="wrapper">
    <div class="background">
        <div class="transbox">
            <div class="transbox2">
                <p>KESÄ</p>
            </div>
        </div>
    </div>
</div><!--BACKGROUND END-->
