
@{
    ViewBag.Title = "KesäHaituva";
}

@section scripts {
    <script src="~/Scripts/jquery-2.2.4.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}

@section head {
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        bodi {
            background-color: darkslategrey;
        }

        .bgimg {
            background-image: url('../../Images/haituvapallo.jpg');
            border: 2px solid black;
            margin: 0 auto;
            /*opacity:0.9;*/
            width: 1080px;
            height: 1920px;
            min-height: 100%;
            background-position: center;
            background-size: cover;
        }

        div.transbox {
            margin: 5px;
            background-color: #1a1a00; /*t.vihreä*/
            border: 1px solid black;
            opacity: 0.5;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            width: 1065px;
            height: 1905px;
        }

        div.transbox2 {
            margin: 5px;
            background-color: #d6d6c2; /*vihreä*/
            border: 1px solid black;
            opacity: 0.8;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            width: 1052px;
            height: 1892px;
        }

        div.transbox3 {
            margin: 5px;
            background-color: #adebeb; /*turkoosi*/
            border: 1px solid black;
            opacity: 0.9;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            width: 1045px;
            height: 1887px;
        }

        div.transbox p {
            margin-left: 10%;
            margin-top: 15%;
            font-weight: bold;
            color: #1a1a00; /*t.vihreä*/
            font-size: 300px;
            width: 1035px;
            height: 1875px;
        }

        div.transbox p1 {
            margin-left: 10%;
            margin-top: 5%;
            font-weight: bold;
            color: #ffffff;
            font-size: 300px;
            width: 1035px;
            height: 1875px;
        }

        body, html {
            height: 100%
        }

        .h1 {
            font-family: "Raleway", sans-serif;
            font-size: 48px;
        }
    </style>
}

<!--BACKGROUND-->
@*<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">*@
@*<div class="w3-display-topleft w3-padding-large w3-xlarge">
        Logo
    </div>*@
@*<div class="w3-display-middle">
        <h1 class="w3-jumbo w3-animate-top">COMING SOON</h1>
        <hr class="w3-border-grey" style="margin:auto;width:40%">
        <p class="w3-large w3-center">35 days left</p>
    </div>*@
@*<div class="w3-display-bottomleft w3-padding-large">
            Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
        </div>
    </div>*@
<bodi>
    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <div class="transbox">
            <div class="transbox2">
                <div class="transbox3">
                    @*<div class="w3-display-middle">*@
                    @*<p>KESÄ</p>*@

                    <p>KESÄ</p>
                    @*</div>*@
                </div>
            </div>
        </div>
    </div><!--BACKGROUND END-->

    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</bodi>






