
@{
    ViewBag.Title = "Kesä";
}



@section scripts {

}


@section head{
    <link href="~/Content/Mysite.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

    <style>
        body {
            background-color: rgb(232,232,232);
        }

        div.wrapper {
            color: rgb(220, 220, 220); /*harmaa*/
            width: 100%;
            height: 100%;
        }

        div.background {
            background-image: url('../../Images/juhannusruusu.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            border: 2px solid black;
            height: 1000px;
            width: 100%;
        }

        div.transbox {
            background-color: #ffffff;
            opacity: 0.6;
            height: 100%;
            width: 100%;
        }

        div.transbox2 {
            background-color: #d6d6c2;
            opacity: 0.8;
            width: 100%;
            height: 100%;
        }

        div.transbox p {
            font-weight: bold;
            color: #000000;
            font-size: 100px;
            width: 100%;
            padding-top: 600px;
            padding-left: 45%;
        }
    </style>
}



<!-- !PAGE CONTENT! -->
@*<div class="w3-main" style="margin-top:10px;">*@
<!-- WRAPPER
================================================== -->

<div class="wrapper">
    <div class="background">
        <div class="transbox">
            <div class="transbox2">
                <p id="demo">
                    Kesä tuoksuu<br />
                    ruusulta.
                </p>
            </div>
        </div>
    </div>
</div><!-- /.wrappwer END -->
@*</div>*@



<script>
    getText("D:\VisualStudio2017\VisualWEBsites\VisualWEBsites\Images\Kesä.txt");
    

async function getText(file) {
  let myObject = await fetch(file);
  let myText = await myObject.text();
  document.getElementById("demo").innerHTML = myText;
}
</script>