
@{
    ViewBag.Title = "Kesä";
}



@section scripts {

}


@section head{
    <link href="~/Content/Mysite.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

    <style>
        body {
            background-color: rgb(232,232,232);
        }

        div.wrapper {
            color: rgb(220, 220, 220); /*harmaa*/
            margin: 0px auto;
            background-repeat: no-repeat;
            width: 100%;
            height: auto;
        }

        div.background {
            background-image: url('../../Images/juhannusruusu.jpg');
            background-repeat: no-repeat;
            border: 2px solid black;
            height: auto;
            width: 100%;
        }

        div.transbox {
            background-color: #ffffff;
            opacity: 0.6;
            height: auto;
            width: 100%;
        }

        div.transbox2 {
            background-color: #d6d6c2;
            opacity: 0.8;
            width: 100%;
            height: auto;
        }

        div.transbox p {
            font-weight: bold;
            color: #000000;
            font-size: 100px;
            height: auto;
            width: 100%;
            padding: 200px;
            margin-left: 25%;
          
        }
    </style>
}

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:0px;margin-top:10px;">
    <!-- WRAPPER
    ================================================== -->

    <div class="wrapper">
        <div class="background">
            <div class="transbox">
                <div class="transbox2">
                    <p>
                        Kesä tuoksuu<br />
                        ruusulta.
                    </p>
                </div>
            </div>
        </div>
    </div><!-- /.wrappwer END -->
</div>

