
@{
    ViewBag.Title = "Kesä";
}



@section scripts {
    <script src="~/Scripts/jquery-2.2.4.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}


@section head{
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Mysite.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

    <style>
        body {
            background-color: rgb(232,232,232);
        }

        div.background {
            background-image: url('../../Images/juhannusruusu.jpg');
            background-repeat: no-repeat;
            border: 2px solid black;
            height: 2247px;
            width: 100%;
        }

        div.transbox {
            /*margin: 5px;*/
            background-color: #ffffff;
            border: 1px solid black;
            opacity: 0.6;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            height: 2247px;
            width: 100%;
        }

            div.transbox p {
                margin: 40%;
                margin-top: 100%;
                font-weight: bold;
                color: #000000;
                font-size: 100px;
                height: 2247px;
                width: 100%;
            }
    </style>
}

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:0px;margin-top:10px;">
    <!-- WRAPPER
    ================================================== -->

    <div class="wrapper">
        <div class="background">
            <div class="transbox">
                <p>
                    Kesä tuoksuu<br />
                    ruusulta.
                </p>
            </div>
        </div>
    </div><!-- /.wrappwer END -->
</div>

<script src="~/Scripts/jquery-2.2.4.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
