
@{
    ViewBag.Title = "KesäKaisla";
}

@section scripts {

}

@section head{
   

    <style>
        body {
            background-color: #ecf9ec;
        }
        div.wrapper {
            color: rgb(220, 220, 220); /*harmaa*/
           /* margin: 0px auto;*/
            background-repeat: no-repeat;
            width: 100%;
        }

        div.background {
            background-image: url('../../Images/kaislapilari.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            border: 2px solid black;
            width: 100%;
            height: 1920px;
        }

        div.transbox {
            background-color: #1a1a00; /*t.vihreä*/
            border: 1px solid black;
            opacity: 0.5;
            width: 100%;
            height: 100%;
            padding: 8px 8px 8px 8px;
        }

        div.transbox2 {
            background-color: #d6d6c2; /*vihreä*/
            border: 1px solid black;
            opacity: 0.8;
            width: 100%;
            height: 100%;
            padding: 8px 8px 8px 8px;
        }

        div.transbox3 {
            background-color: #adebeb; /*turkoosi*/
           /* border: 1px solid black;*/
            opacity: 0.9;
            width: 100%;
            height: 100%;
            padding: 8px 8px 8px 8px;
        }

        div.transbox p {
            font-weight: bold;
            color: #1a1a00; /*t.vihreä*/
            font-size: 300px;
            width: 100%;
            height: 100%;
            padding-left: 15%;
            padding-top: 25%;
        }

       /* div.transbox p1 {
            font-weight: bold;
            color: #ffffff;
            font-size: 300px;
            width: 100%;
            height: 100%;
            padding-left: 15%;
            padding-top: 5%;
        }*/
    </style>
}

<!--BACKGROUND-->
<div class="wrapper">
    <div class="background">
        <div class="transbox">
            <div class="transbox2">
                <div class="transbox3">
                    <p>KESÄ</p>
                    @*<p1>KESÄ</p1>*@
                </div>
            </div>
        </div>
    </div>
</div><!--BACKGROUND END-->
