
@{
    ViewBag.Title = "Sivu3";
}

@section scripts{
<!-- Custom styles for this template -->
<link href="carousel.css" rel="stylesheet">

<style>
    div.background {
        
        background-image: url('../../Images/juhannusruusu.jpg');
        border: 2px solid black;
    }

    div.transbox {
        margin: 5px;
        background-color: #ffffff;
        border: 1px solid black;
        opacity: 0.6;
        filter: alpha(opacity=60); /* For IE8 and earlier */
    }

        div.transbox p {
            margin: 50%;
            font-weight: bold;
            color: #000000;
            font-size: 74px;
        }
</style>
    }




    <!-- WRAPPER
    ================================================== -->

    <div class="wrapper">

        <div class="background">
            <div class="transbox">
                <p>Kesä tuoksuu ruusulta.</p>
            </div>
        </div>

</div><!-- /.wrappwer END -->

<div class="container body-content">
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Johanna Merikanto - WEB sivustot</p>
    </footer>
</div>

