
@{
    ViewBag.Title = "KesäHaituva";
}

@section scripts{
<style>
    div.background {
        background-image: url('../../Images/haituvapallo.jpg');
        border: 2px solid black;
        margin: 0 auto;
        /*opacity:0.9;*/
        width: 1080px;
        height: 1920px;
    }

    div.transbox {
        margin: 5px;
        background-color: #1a1a00; /*t.vihreä*/
        border: 1px solid black;
        opacity: 0.5;
        filter: alpha(opacity=60); /* For IE8 and earlier */
        width: 1065px;
        height: 1905px;
    }

    div.transbox2 {
        margin: 5px;
        background-color: #d6d6c2; /*vihreä*/
        border: 1px solid black;
        opacity: 0.8;
        filter: alpha(opacity=60); /* For IE8 and earlier */
        width: 1052px;
        height: 1892px;
    }

    div.transbox3 {
        margin: 5px;
        background-color: #adebeb; /*turkoosi*/
        border: 1px solid black;
        opacity: 0.9;
        filter: alpha(opacity=60); /* For IE8 and earlier */
        width: 1045px;
        height: 1887px;
    }

    div.transbox p {
        margin-left: 10%;
        margin-top: 15%;
        font-weight: bold;
        color: #1a1a00; /*t.vihreä*/
        font-size: 300px;
        width: 1035px;
        height: 1875px;
    }

    div.transbox p1 {
        margin-left: 10%;
        margin-top: 5%;
        font-weight: bold;
        color: #ffffff;
        font-size: 300px;
        width: 1035px;
        height: 1875px;
    }
</style>
}

<!--BACKGROUND-->
<div class="background">
    <div class="transbox">
        <div class="transbox2">
            <div class="transbox3">
                <p>KESÄ</p>
                <p1>KESÄ</p1>
            </div>
        </div>
    </div>
</div><!--BACKGROUND END-->






