
@{
    ViewBag.Title = "Ketju";
}

@section scripts {
  
}

@section head{
    <style>
        .wrapper {
            color: rgb(220, 220, 220); /*harmaa*/
            width: 100%;
            height: auto;
            padding-top: 1%;
        }

        div.background {
            background-image: url('../../Images/ketju.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            border: 2px solid black;
            width: 100%;
            height: 658px;
    
        }

        div.transbox {
            background-color: #ffffff;
            border: 1px solid black;
            opacity: 0.5;
            width: 100%;
            height: 100%;
            padding: 8px 8px 8px 8px;
        }

        div.transbox2 {
            background-color: #b6d8dc;
            border: 1px solid black;
            opacity: 0.8;
            width: 100%;
            height: 100%;
            padding: 8px 8px 8px 8px;
        }

        div.transbox p {
            font-weight: bold;
            color: #ffffff;
            font-size: 100px;
            width: 100%;
            height: 100%;
            padding-left: 55%;
            padding-top: 3%;
        }
    </style>
}

<!--BACKGROUND-->
<div class="wrapper">
    <div class="background">
        <div class="transbox">
            <div class="transbox2">
                <p>
                    Talvi<br />
                    Kevät<br />
                    Kesä<br />
                    Syksy
                </p>
            </div>
        </div>
    </div>
</div><!--BACKGROUND END-->
