
@{
    ViewBag.Title = "KevatImage1";
}
@section scripts {

}

@section head{

    <link href="~/Content/carousel.css" rel="stylesheet" />

    <style>
        body {
            background: linear-gradient(to bottom, #99ffcc 53%, #009900 100%);
        }

        div.background {
            background-image: url("../../Images/keväthaapatausta.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            border: 2px solid black;
            width: 100%;
            height: 1920px;
        }

        div.transbox {
            background-color: #ffffff; /*valkoinen*/
            border: 1px solid black;
            opacity: 0.5;
            width: 100%;
            height: 100%;
            padding: 8px 8px 8px 8px;
        }

        div.transbox2 {
            background-color: #b6d8dc; /*vaaleansininen*/
            border: 1px solid black;
            opacity: 0.8;
            width: 100%;
            height: 100%;
            padding: 8px 8px 8px 8px;
        }

        div.transbox p {
            font-weight: bold;
            color: #ffffff; /*valkoinen*/
            font-size: 500px;
            width: 100%;
            height: 100%;
            padding-left: 15%;
            padding-top: 50%;
        }
    </style>
}


<!--BACKGROUND-->
<div class="background">
    <div class="transbox">
        <div class="transbox2">
            <p>KEVÄT</p>
        </div>
    </div>
</div><!--BACKGROUND END-->
