
@{
    ViewBag.Title = "KevatHeijastePyorre";
}

<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
<script src="http://code.jquery.com/jquery.min.js"></script>

@section scripts {
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/respond.js"></script>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery-2.2.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    @Scripts.Render("~/bundles/jqueryval")
}

@section head{
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Sectionscripts/Mysite.css" rel="stylesheet" />

    <style>
        body {
            background-color: rgb(232,232,232);
        }

        div.background {
            background-image: url('../../Images/jääpeilipysty.jpg');
            border: 2px solid black;
            opacity: 0.8;
            margin: 50px;
            width: 1080px;
            height: 1920px;
            text-align: center;
        }

        div.transbox {
            margin: 5px;
            background-color: #000; /*valkoinen*/
            border: 1px solid black;
            opacity: 0.1;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            width: 1065px;
            height: 1905px;
        }

        div.transbox2 {
            margin: 5px;
            background-color: #ffffff; /*musta*/
            border: 1px solid black;
            opacity: 0.5;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            width: 1052px;
            height: 1892px;
        }

        div.transbox p {
            margin-left: 45%;
            margin-top: 50%;
            font-weight: bold;
            color: #ffffff;
            font-size: 200px;
            width: 1035px;
            height: 1875px;
        }

        div.pallot {
            margin-top: 5%;
            opacity: 0.7;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            text-align: center;

        }

        div.col-sm-4 {
            margin-top: 5%;
            text-align: center;
        }


        p.Text {
            padding-top: 5px;
            padding-right: 5px;
            padding-bottom: 5px;
            padding-left: 5px;
        }
    </style>
}

   <!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:0px;margin-top:20px;">

    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
        <h5><b><i class="fa fa-dashboard"></i> </b></h5>
    </header>

    <!--BACKGROUND-->
    <div class="background">
        @*<div class="transbox">*@
        @*<div class="transbox2">*@
        <div class="pallot">

            <div class="col-sm-4">
                <div id="myDIVpyorre4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                </div><!-- /.col-lg-4 -->
            </div>

            <div class="col-sm-4">
                <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4">
                <div id="myDIVpyorre4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                </div><!-- /.col-lg-4 -->
            </div>

            <div class="col-sm-4">
                <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
            </div><!-- /.col-lg-4 -->

            <div class="clearfix"></div>

            <div class="col-sm-4">
                <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4">
                <div id="myDIVpyorre4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                </div><!-- /.col-lg-4 -->
            </div>

            <div class="col-sm-4">
                <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4">
                <div id="myDIVpyorre4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                </div><!-- /.col-lg-4 -->
            </div>

            <div class="clearfix"></div>

            <div class="col-sm-4">
                <div id="myDIVpyorre4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                </div><!-- /.col-lg-4 -->
            </div>

            <div class="col-sm-4">
                <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4">
                <div id="myDIVpyorre4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                </div><!-- /.col-lg-4 -->
            </div>

            <div class="col-sm-4">
                <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
            </div><!-- /.col-lg-4 -->

            <div class="clearfix"></div>

            <div class="col-sm-4">
                <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4">
                <div id="myDIVpyorre4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                </div><!-- /.col-lg-4 -->
            </div>

            <div class="col-sm-4">
                <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4">
                <div id="myDIVpyorre4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                </div><!-- /.col-lg-4 -->
            </div>


            <div class="clearfix"></div>

            <div class="col-sm-4">
                <div id="myDIVpyorre4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                </div><!-- /.col-lg-4 -->
            </div>

            <div class="col-sm-4">

                <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
            </div><!-- /.col-lg-4 -->


            <div class="col-sm-4">
                <div id="myDIVpyorre4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                </div><!-- /.col-lg-4 -->
            </div>

            <div class="col-sm-4">

                <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
            </div><!-- /.col-lg-4 -->


            <div class="clearfix"></div>

            <div class="col-sm-4">
                <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4">
                <div id="myDIVpyorre4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                </div><!-- /.col-lg-4 -->
            </div>

            <div class="col-sm-4">
                <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4">
                <div id="myDIVpyorre4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                </div><!-- /.col-lg-4 -->
            </div>

            <div class="clearfix"></div>

            <div class="col-sm-4">
                <div id="myDIVpyorre4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                </div><!-- /.col-lg-4 -->
            </div>

            <div class="col-sm-4">

                <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
            </div><!-- /.col-lg-4 -->


            <div class="col-sm-4">
                <div id="myDIVpyorre4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                </div><!-- /.col-lg-4 -->
            </div>

            <div class="col-sm-4">

                <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
            </div><!-- /.col-lg-4 -->

            <div class="clearfix"></div>

        </div><!--pallot END-->
    </div><!--BACKGROUND END-->
</div>

<script src="~/Scripts/jquery-2.2.4.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

