
@{
    ViewBag.Title = "KevatHeijastePyorre";
}
<!-- Custom styles for this template -->
<link href="carousel.css" rel="stylesheet">
<link rel="stylesheet" media="all" href="css/reset.css" /> <!-- reset css -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="http://code.jquery.com/jquery.min.js"></script>

<script src="~/Scripts/jquery-3.1.1.js"></script>

@section scripts{

    <style>
        div.background {
            background-image: url('../../Images/jääpeilipysty.jpg');
            border: 2px solid black;
            opacity: 0.8;
            margin: 50px;
            width: 1080px;
            height: 1920px;
            text-align: center;
        }

        div.transbox {
            margin: 5px;
            background-color: #000; /*valkoinen*/
            border: 1px solid black;
            opacity: 0.1;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            width: 1065px;
            height: 1905px;
        }

        div.transbox2 {
            margin: 5px;
            background-color: #ffffff; /*musta*/
            border: 1px solid black;
            opacity: 0.5;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            width: 1052px;
            height: 1892px;
        }

        div.transbox p {
            margin-left: 45%;
            margin-top: 50%;
            font-weight: bold;
            color: #ffffff;
            font-size: 200px;
            width: 1035px;
            height: 1875px;
        }

        div.pallot {
            margin-top: 5%;
            opacity: 0.7;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            text-align: center;

        }

        div.col-sm-4 {
            margin-top: 5%;
            text-align: center;
        }


        p.Text {
            padding-top: 5px;
            padding-right: 5px;
            padding-bottom: 5px;
            padding-left: 5px;
        }
    </style>
}


<!--BACKGROUND-->
<div class="background">
    @*<div class="transbox">*@
        @*<div class="transbox2">*@
            <div class="pallot">

                <div class="col-sm-4">
                    <div id="myDIVpyorre4">
                        <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                    </div><!-- /.col-lg-4 -->
                </div>

                <div class="col-sm-4">    
                        <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>               
                    </div><!-- /.col-lg-4 -->
               
                <div class="col-sm-4">
                    <div id="myDIVpyorre4">
                        <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                    </div><!-- /.col-lg-4 -->
                </div>

                <div class="col-sm-4">      
                        <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                    </div><!-- /.col-lg-4 -->

                <div class="clearfix"></div>

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                </div><!-- /.col-lg-4 -->

                <div class="col-sm-4">
                    <div id="myDIVpyorre4">
                        <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                    </div><!-- /.col-lg-4 -->
                </div>

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                </div><!-- /.col-lg-4 -->
           
                <div class="col-sm-4">
                    <div id="myDIVpyorre4">
                        <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                    </div><!-- /.col-lg-4 -->
                </div> 

                <div class="clearfix"></div>

                <div class="col-sm-4">
                    <div id="myDIVpyorre4">
                        <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                    </div><!-- /.col-lg-4 -->
                </div>

                <div class="col-sm-4">        
                        <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                    </div><!-- /.col-lg-4 -->
           
                <div class="col-sm-4">
                    <div id="myDIVpyorre4">
                        <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                    </div><!-- /.col-lg-4 -->
                </div>

                <div class="col-sm-4">       
                        <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                    </div><!-- /.col-lg-4 -->
               
                <div class="clearfix"></div>

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                </div><!-- /.col-lg-4 -->

                <div class="col-sm-4">
                    <div id="myDIVpyorre4">
                        <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                    </div><!-- /.col-lg-4 -->
                </div>

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                </div><!-- /.col-lg-4 -->

                <div class="col-sm-4">
                    <div id="myDIVpyorre4">
                        <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                    </div><!-- /.col-lg-4 -->
                </div> 
                

                <div class="clearfix"></div>

                <div class="col-sm-4">
                    <div id="myDIVpyorre4">
                        <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                    </div><!-- /.col-lg-4 -->
                </div>

                <div class="col-sm-4">
                    
                        <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                    </div><!-- /.col-lg-4 -->
             

                <div class="col-sm-4">
                    <div id="myDIVpyorre4">
                        <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                    </div><!-- /.col-lg-4 -->
                </div>

                <div class="col-sm-4">
                    
                        <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                    </div><!-- /.col-lg-4 -->
                

            <div class="clearfix"></div>

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                </div><!-- /.col-lg-4 -->

                <div class="col-sm-4">
                    <div id="myDIVpyorre4">
                        <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                    </div><!-- /.col-lg-4 -->
                </div>

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                </div><!-- /.col-lg-4 -->

                <div class="col-sm-4">
                    <div id="myDIVpyorre4">
                        <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                    </div><!-- /.col-lg-4 -->
                </div> 
             
            <div class="clearfix"></div>

                <div class="col-sm-4">
                    <div id="myDIVpyorre4">
                        <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                    </div><!-- /.col-lg-4 -->
                </div>

                <div class="col-sm-4">
                 
                        <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                    </div><!-- /.col-lg-4 -->
               

                <div class="col-sm-4">
                    <div id="myDIVpyorre4">
                        <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                    </div><!-- /.col-lg-4 -->
                </div>

                <div class="col-sm-4">
                    
                        <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jääpeilipysty.jpg" alt="jääbutton" width="200" height="200"></a>
                    </div><!-- /.col-lg-4 -->
             

                <div class="clearfix"></div>

            </div><!--pallot END-->

           
</div><!--BACKGROUND END-->


