
@{
    ViewBag.Title = "KevätHeijaste2";
}

@section scripts{

    <style>
        div.background {
            background-image: url('../../Images/jääpeilipysty.jpg');
            border: 2px solid black;
            margin: 50px;
            width: 1080px;
            height: 1920px;
            
        }

        div.transbox {
            margin: 5px;
            background-color: #ffffff; /*valkoinen*/
            border: 1px solid black;
            opacity: 0.5;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            width: 1065px;
            height: 1905px;
        }

        div.transbox2 {
            margin: 5px;
            background-color: rgb(30, 178, 92); /*musta*/
            border: 1px solid black;
            opacity: 0.6;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            width: 1052px;
            height: 1892px;
        }

        div.transbox p {
            margin-left: 45%;
            margin-top: 50%;
            font-weight: bold;
            color: aquamarine;
            font-size: 200px;
            width: 1035px;
            height: 1875px;
        }

        div.pallot{
            margin-top:5%;
            opacity: 0.8;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            filter: drop-shadow(8px 8px 10px #313030);
            filter: blur(5px);
            
        }

        div.col-sm-4{
            margin-top:5%;
            text-align: center;
        }
        p.Text{
            padding-top: 5px;
            padding-right: 5px;
            padding-bottom: 5px;
            padding-left: 5px;
        }
        .w3-myfont {
            font-family: "Comic Sans MS", /*cursive,*/, sans-serif;
            font-size: 150px;
        }
    </style>
}


<!--BACKGROUND-->
<div class="background">   
    <div class="transbox">
        <div class="transbox2">   
            <div class="pallot">

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                </div><!-- /.col-lg-4 -->
            
                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                    @*<h2>TALVI</h2>*@
                </div><!-- /.col-lg-4 -->

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                    @*<h2>TALVI</h2>*@
                </div><!-- /.col-lg-4 -->

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                    @*<h2>TALVI</h2>*@
                </div><!-- /.col-lg-4 -->

                <div class="clearfix"></div>

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                    @*<h2>TALVI</h2>*@
                </div><!-- /.col-lg-4 -->

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                    @*<h2>TALVI</h2>*@
                </div><!-- /.col-lg-4 -->

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                    @*<h2>TALVI</h2>*@
                </div><!-- /.col-lg-4 -->

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                    @*<h2>TALVI</h2>*@
                </div><!-- /.col-lg-4 -->

                <div class="clearfix"></div>
                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                    @*<h2>TALVI</h2>*@

                </div><!-- /.col-lg-4 -->

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                    @*<h2>TALVI</h2>*@
                </div><!-- /.col-lg-4 -->

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                    @*<h2>TALVI</h2>*@
                </div><!-- /.col-lg-4 -->

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                    @*<h2>TALVI</h2>*@
                </div><!-- /.col-lg-4 -->

                <div class="clearfix"></div>

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                    @*<h2>TALVI</h2>*@

                </div><!-- /.col-lg-4 -->

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                    @*<h2>TALVI</h2>*@
                </div><!-- /.col-lg-4 -->

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                    @*<h2>TALVI</h2>*@
                </div><!-- /.col-lg-4 -->

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                    @*<h2>TALVI</h2>*@
                </div><!-- /.col-lg-4 -->

                <div class="clearfix"></div>

                <p>
                    Kevät<br />
                    
                </p>
            
            </div>
        </div>
    </div>
</div><!--BACKGROUND END-->


