
@{
    ViewBag.Title = "KevätHeijaste4";
}

@section scripts{

    <style>
        div.background {
            background-image: url('../../Images/jääpeilipysty.jpg');
            border: 2px solid black;
            margin: 50px;
            width: 1080px;
            height: 1920px;
        }

        div.transbox {
            margin: 5px;
            background-color: #ffffff; /*valkoinen*/
            border: 1px solid black;
            opacity: 0.3;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            width: 1080px;
            height: 1920px;
        }

        div.transbox2 {
            margin: 5px;
            background-color: #000000; /*musta*/
            border: 1px solid black;
            opacity: 0.6;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            width: 1052px;
            height: 1892px;
            /*display: -webkit-flex;*/
            display: flex;
            -webkit-flex-direction: column;
            flex-direction: column;
        }

        div.col-sm-4 {
            /*margin-top: 1%;*/
            margin-left:65%;
        }

        img.square{
            width: 350px;
            height: 100px;
            margin: 3px;
            padding:0;    
            
        }
        div.teksti {
            position: absolute; /*rivittää tekstin ruutuun*/         
            /*width: 100%; */         
            font-size: 60px;
            font-weight: bold;
            padding-left:10%;    
            text-align: justify;
                    
        }

    </style>
}


<!--BACKGROUND-->
<div class="background">
    <div class="transbox">
        <div class="transbox2">
           

            <div class="col-sm-4">
                <div class="teksti">TALVI</div>
                <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton"></a>      
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4">
                <div class="teksti">KEVÄT</div>
                <a href="~/Sivu/Kevät" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton"></a>
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4">
                <div class="teksti">KESÄ</div>
                <a href="~/Sivu/Kesä" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton"></a>
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4">
                <div class="teksti">SYKSY</div>
                <a href="~/Sivu/Syksy" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton"></a>
            </div><!-- /.col-lg-4 -->
            <div class="col-sm-4">
                <div class="teksti">TALVI</div>
                <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton"></a>
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4">
                <div class="teksti">KEVÄT</div>
                <a href="~/Sivu/Kevät" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton"></a>
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4">
                <div class="teksti">KESÄ</div>
                <a href="~/Sivu/Kesä" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton"></a>
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4">
                <div class="teksti">SYKSY</div>
                <a href="~/Sivu/Syksy" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton"></a>
            </div><!-- /.col-lg-4 -->
            <div class="col-sm-4">
                <div class="teksti">TALVI</div>
                <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton"></a>
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4">
                <div class="teksti">KEVÄT</div>
                <a href="~/Sivu/Kevät" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton"></a>
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4">
                <div class="teksti">KESÄ</div>
                <a href="~/Sivu/Kesä" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton"></a>
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4">
                <div class="teksti">SYKSY</div>
                <a href="~/Sivu/Syksy" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton"></a>
            </div><!-- /.col-lg-4 -->
            <div class="col-sm-4">
                <div class="teksti">TALVI</div>
                <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton"></a>
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4">
                <div class="teksti">KEVÄT</div>
                <a href="~/Sivu/Kevät" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton"></a>
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4">
                <div class="teksti">KESÄ</div>
                <a href="~/Sivu/Kesä" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton"></a>
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4">
                <div class="teksti">SYKSY</div>
                <a href="~/Sivu/Syksy" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton"></a>
            </div><!-- /.col-lg-4 -->
            <div class="col-sm-4">
                <div class="teksti">TALVI</div>
                <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton"></a>
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4">
                <div class="teksti">KEVÄT</div>
                <a href="~/Sivu/Kevät" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton"></a>
            </div><!-- /.col-lg-4 -->

 
            </div><!--transbox2 END-->
        </div><!--transbox END-->
</div><!--BACKGROUND END-->


