
@{
    ViewBag.Title = "KevätHeijaste";
}

@section scripts{

    <style>
        div.background {
            background-image: url('../../Images/jääpeilipysty.jpg');
            border: 2px solid black;
            margin: 0px;
            width: 1080px;
            height: 1920px;
        }

        div.transbox {
            margin: 5px;
            background-color: #ffffff;/*valkoinen*/
            border: 1px solid black;
            opacity: 0.5;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            width: 1065px;
            height: 1905px;
        }

        div.transbox2 {
            margin: 5px;
            background-color: #000000;/*musta*/
            border: 1px solid black;
            opacity: 0.6;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            width: 1052px;
            height: 1892px;
        }

        div.transbox p {
            margin-left: 45%;
            margin-top: 50%;
            font-weight: bold;
            color: #ffffff;
            font-size: 200px;
            width: 1035px;
            height: 1875px;
        }
    </style>
}


<!--BACKGROUND-->
<div class="background">
    <div class="transbox">
        <div class="transbox2">
            <p>
                Talvi<br />
                Kevät<br />
                Kesä<br />
                Syksy
            </p>
        </div>
    </div>
</div><!--BACKGROUND END-->

