
@{
    ViewBag.Title = "KevätHeijaste3";
}

@section scripts{

    <style>
        div.background {
            background-image: url('../../Images/jääpeilipysty.jpg');
            border: 2px solid black;
            margin: 50px;
            width: 1080px;
            height: 1920px;
        }

        div.transbox {
            margin: 5px;
            background-color: #ffffff; /*valkoinen*/
            border: 1px solid black;
            opacity: 0.5;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            width: 1065px;
            height: 1905px;
        }

        div.transbox2 {
            margin: 5px;
            background-color: #000000; /*musta*/
            border: 1px solid black;
            opacity: 0.6;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            width: 1052px;
            height: 1892px;
        }

        div.transbox p {
            margin-left: 45%;
            margin-top: 50%;
            font-weight: bold;
            color: #ffffff;
            font-size: 200px;
            width: 1035px;
            height: 1875px;
        }

        div.pallot {
            margin-top: 5%;
            opacity: 0.8;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            text-align: center;

        }

        div.col-sm-4 {
            margin-top: 5%;
            text-align: center;

        }
        div.square{

        }

        p.Text {
            padding-top: 5px;
            padding-right: 5px;
            padding-bottom: 5px;
            padding-left: 5px;
        }
    </style>
}


<!--BACKGROUND-->
<div class="background">
    <div class="transbox">
        <div class="transbox2">
            <div class="pallot">

                <div class="col-sm-4">
                        <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                    </div><!-- /.col-lg-4 -->
                
                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                    @*<h2>TALVI</h2>*@
                </div><!-- /.col-lg-4 -->

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                    @*<h2>TALVI</h2>*@
                </div><!-- /.col-lg-4 -->

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                    @*<h2>TALVI</h2>*@
                </div><!-- /.col-lg-4 -->

                <div class="clearfix"></div>

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                    @*<h2>TALVI</h2>*@
                </div><!-- /.col-lg-4 -->

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                    @*<h2>TALVI</h2>*@
                </div><!-- /.col-lg-4 -->

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                    @*<h2>TALVI</h2>*@
                </div><!-- /.col-lg-4 -->

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                    @*<h2>TALVI</h2>*@
                </div><!-- /.col-lg-4 -->

                <div class="clearfix"></div>

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                    @*<h2>TALVI</h2>*@
                </div><!-- /.col-lg-4 -->

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                    @*<h2>TALVI</h2>*@
                </div><!-- /.col-lg-4 -->

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                    @*<h2>TALVI</h2>*@
                </div><!-- /.col-lg-4 -->

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                    @*<h2>TALVI</h2>*@
                </div><!-- /.col-lg-4 -->

                <div class="clearfix"></div>

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                    @*<h2>TALVI</h2>*@
                </div><!-- /.col-lg-4 -->

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                    @*<h2>TALVI</h2>*@
                </div><!-- /.col-lg-4 -->

            <div class="col-sm-4">
                <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                @*<h2>TALVI</h2>*@
            </div><!-- /.col-lg-4 -->

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                    @*<h2>TALVI</h2>*@
                </div><!-- /.col-lg-4 -->

                <div class="clearfix"></div>

            <div class="col-sm-4">
                <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4">
                <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                @*<h2>TALVI</h2>*@
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4">
                <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                @*<h2>TALVI</h2>*@
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4">
                <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                @*<h2>TALVI</h2>*@
            </div><!-- /.col-lg-4 -->

            <div class="clearfix"></div>

            <div class="col-sm-4">
                <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                @*<h2>TALVI</h2>*@
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4">
                <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                @*<h2>TALVI</h2>*@
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4">
                <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                @*<h2>TALVI</h2>*@
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4">
                <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                @*<h2>TALVI</h2>*@
            </div><!-- /.col-lg-4 -->

            <div class="clearfix"></div>
                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                </div><!-- /.col-lg-4 -->

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                    @*<h2>TALVI</h2>*@
                </div><!-- /.col-lg-4 -->

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                    @*<h2>TALVI</h2>*@
                </div><!-- /.col-lg-4 -->

                <div class="col-sm-4">
                    <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                    @*<h2>TALVI</h2>*@
                </div><!-- /.col-lg-4 -->

                <div class="clearfix"></div>

            </div><!--pallot END-->

                @*<p>
                    Talvi<br />
                    Kevät<br />
                    Kesä<br />
                    Syksy
                </p>*@

            </div><!--transbox2 END-->
        </div><!--transbox END-->
</div><!--BACKGROUND END-->


