
@{
    ViewBag.Title = "KevätHeijaste3";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

<!-- Custom styles for this template -->
<link href="carousel.css" rel="stylesheet">
<link rel="stylesheet" media="all" href="css/reset.css" /> <!-- reset css -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="http://code.jquery.com/jquery.min.js"></script>

<script src="~/Scripts/jquery-3.1.1.js"></script>

@section scripts{

    <style>
        div.background {
            background-image: url('../../Images/jääpeilipysty.jpg');
            border: 2px solid black;
            margin: 50px;
            width: 1080px;
            height: 1920px;
        }

        div.transbox {
            margin: 5px;
            background-color: #ffffff; /*valkoinen*/
            border: 1px solid black;
            opacity: 0.5;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            width: 1065px;
            height: 1905px;
        }

        div.transbox2 {
            margin: 5px;
            background-color: #000000; /*musta*/
            border: 1px solid black;
            opacity: 0.6;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            width: 1052px;
            height: 1892px;
        }

        div.transbox p {
            margin-left: 45%;
            margin-top: 50%;
            font-weight: bold;
            color: #ffffff;
            font-size: 200px;
            width: 1035px;
            height: 1875px;
        }

        div.pallot {
            margin-top: 5%;
            opacity: 0.8;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            text-align: center;

        }

        div.col-sm-4 {
            margin-top: 5%;
            text-align: center;

        }

        p.Text {
            padding-top: 5px;
            padding-right: 5px;
            padding-bottom: 5px;
            padding-left: 5px;
        }
        .w3-myfont {
            font-family: "Comic Sans MS", /*cursive,*/, sans-serif;
            font-size: 45px;
            opacity:0.9;
        }
    </style>
}


<!--BACKGROUND-->
<div class="w3-container">
    <div class="background">
        <div class="transbox">
            <div class="transbox2">
                <div class="pallot">

                    <div class="col-sm-4">
                        <div class="w3-display-container w3-text-white w3-text-shadow">
                            <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                            <div class="w3-display-middle w3-myfont">HELLO</div>
                        </div>
                    </div><!-- /.col-lg-4 -->

                    <div class="col-sm-4">
                        <div class="w3-display-container w3-text-white w3-text-shadow">
                            <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                            <div class="w3-display-middle w3-myfont">HELLO</div>
                        </div>
                    </div><!-- /.col-lg-4 -->

                    <div class="col-sm-4">
                        <div class="w3-display-container w3-text-white w3-text-shadow">
                            <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                            <div class="w3-display-middle w3-myfont">HELLO</div>
                        </div>
                    </div><!-- /.col-lg-4 -->

                    <div class="col-sm-4">
                        <div class="w3-display-container w3-text-white w3-text-shadow">
                            <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                            <div class="w3-display-middle w3-myfont">HELLO</div>
                        </div>
                    </div><!-- /.col-lg-4 -->

                    <div class="clearfix"></div>

                    <div class="col-sm-4">
                        <div class="w3-display-container w3-text-white w3-text-shadow">
                            <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                            <div class="w3-display-middle w3-myfont">HELLO</div>
                        </div>
                    </div><!-- /.col-lg-4 -->

                    <div class="col-sm-4">
                        <div class="w3-display-container w3-text-white w3-text-shadow">
                            <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                            <div class="w3-display-middle w3-myfont">HELLO</div>
                        </div>
                    </div><!-- /.col-lg-4 -->

                    <div class="col-sm-4">
                        <div class="w3-display-container w3-text-white w3-text-shadow">
                            <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                            <div class="w3-display-middle w3-myfont">HELLO</div>
                        </div>
                    </div><!-- /.col-lg-4 -->

                    <div class="col-sm-4">
                        <div class="w3-display-container w3-text-white w3-text-shadow">
                            <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                            <div class="w3-display-middle w3-myfont">HELLO</div>
                        </div>
                    </div><!-- /.col-lg-4 -->

                    <div class="clearfix"></div>

                    <div class="col-sm-4">
                        <div class="w3-display-container w3-text-white w3-text-shadow">
                            <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                            <div class="w3-display-middle w3-myfont">HELLO</div>
                        </div>
                    </div><!-- /.col-lg-4 -->

                    <div class="col-sm-4">
                        <div class="w3-display-container w3-text-white w3-text-shadow">
                            <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                            <div class="w3-display-middle w3-myfont">HELLO</div>
                        </div>
                    </div><!-- /.col-lg-4 -->

                    <div class="col-sm-4">
                        <div class="w3-display-container w3-text-white w3-text-shadow">
                            <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                            <div class="w3-display-middle w3-myfont">HELLO</div>
                        </div>
                    </div><!-- /.col-lg-4 -->

                    <div class="col-sm-4">
                        <div class="w3-display-container w3-text-white w3-text-shadow">
                            <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                            <div class="w3-display-middle w3-myfont">HELLO</div>
                        </div>
                    </div><!-- /.col-lg-4 -->

                    <div class="clearfix"></div>

                    <div class="col-sm-4">
                        <div class="w3-display-container w3-text-white w3-text-shadow">
                            <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                            <div class="w3-display-middle w3-myfont">HELLO</div>
                        </div>
                    </div><!-- /.col-lg-4 -->

                    <div class="col-sm-4">
                        <div class="w3-display-container w3-text-white w3-text-shadow">
                            <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                            <div class="w3-display-middle w3-myfont">HELLO</div>
                        </div>
                    </div><!-- /.col-lg-4 -->

                    <div class="col-sm-4">
                        <div class="w3-display-container w3-text-white w3-text-shadow">
                            <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                            <div class="w3-display-middle w3-myfont">HELLO</div>
                        </div>
                    </div><!-- /.col-lg-4 -->

                    <div class="col-sm-4">
                        <div class="w3-display-container w3-text-white w3-text-shadow">
                            <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                            <div class="w3-display-middle w3-myfont">HELLO</div>
                        </div>
                    </div><!-- /.col-lg-4 -->

                    <div class="clearfix"></div>

                    <div class="col-sm-4">
                        <div class="w3-display-container w3-text-white w3-text-shadow">
                            <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                            <div class="w3-display-middle w3-myfont">HELLO</div>
                        </div>
                    </div><!-- /.col-lg-4 -->

                    <div class="col-sm-4">
                        <div class="w3-display-container w3-text-white w3-text-shadow">
                            <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                            <div class="w3-display-middle w3-myfont">HELLO</div>
                        </div>
                    </div><!-- /.col-lg-4 -->

                    <div class="col-sm-4">
                        <div class="w3-display-container w3-text-white w3-text-shadow">
                            <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                            <div class="w3-display-middle w3-myfont">HELLO</div>
                        </div>
                    </div><!-- /.col-lg-4 -->

                    <div class="col-sm-4">
                        <div class="w3-display-container w3-text-white w3-text-shadow">
                            <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                            <div class="w3-display-middle w3-myfont">HELLO</div>
                        </div>
                    </div><!-- /.col-lg-4 -->

                    <div class="clearfix"></div>

                    <div class="col-sm-4">
                        <div class="w3-display-container w3-text-white w3-text-shadow">
                            <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                            <div class="w3-display-middle w3-myfont">HELLO</div>
                        </div>
                    </div><!-- /.col-lg-4 -->

                    <div class="col-sm-4">
                        <div class="w3-display-container w3-text-white w3-text-shadow">
                            <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                            <div class="w3-display-middle w3-myfont">HELLO</div>
                        </div>
                    </div><!-- /.col-lg-4 -->

                    <div class="col-sm-4">
                        <div class="w3-display-container w3-text-white w3-text-shadow">
                            <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                            <div class="w3-display-middle w3-myfont">HELLO</div>
                        </div>
                    </div><!-- /.col-lg-4 -->

                    <div class="col-sm-4">
                        <div class="w3-display-container w3-text-white w3-text-shadow">
                            <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                            <div class="w3-display-middle w3-myfont">HELLO</div>
                        </div>
                    </div><!-- /.col-lg-4 -->

                    <div class="clearfix"></div>

                    <div class="col-sm-4">
                        <div class="w3-display-container w3-text-white w3-text-shadow">
                            <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                            <div class="w3-display-middle w3-myfont">HELLO</div>
                        </div>
                    </div><!-- /.col-lg-4 -->

                    <div class="col-sm-4">
                        <div class="w3-display-container w3-text-white w3-text-shadow">
                            <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                            <div class="w3-display-middle w3-myfont">HELLO</div>
                        </div>
                    </div><!-- /.col-lg-4 -->

                    <div class="col-sm-4">
                        <div class="w3-display-container w3-text-white w3-text-shadow">
                            <a href="~/Sivu/Talvi" target="_blank"><img class="img-circle" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                            <div class="w3-display-middle w3-myfont">HELLO</div>
                        </div>
                    </div><!-- /.col-lg-4 -->

                    <div class="col-sm-4">
                        <div class="w3-display-container w3-text-white w3-text-shadow">
                            <a href="~/Sivu/Talvi" target="_blank"><img class="square" src="~/Images/jää.jpg" alt="jääbutton" width="200" height="200"></a>
                            <div class="w3-display-middle w3-myfont">HELLO</div>
                        </div>
                    </div><!-- /.col-lg-4 -->

                    <div class="clearfix"></div>

                </div><!--pallot END-->
                @*<p>
                        Talvi<br />
                        Kevät<br />
                        Kesä<br />
                        Syksy
                    </p>*@

            </div><!--transbox2 END-->
        </div><!--transbox END-->
    </div><!--BACKGROUND END-->
   </div>


