
@{
    ViewBag.Title = "Kevat";
}

@section scripts{
    <!-- Custom styles for this template -->
<link href="~/Content/carousel.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<style>
    div.background {  
        background-image: url('../../Images/kevatsoratausta.jpg');
        border: 2px solid black;
        display: block;
        height: 1080px;
        width: 1170px;
    }

    div.transbox {
        margin: 5px;
        background-color: #ffffff;
        border: 1px solid black;
        opacity: 0.4;
        filter: alpha(opacity=60); /* For IE8 and earlier */
        height: 1065px;
        width: 1155px;
    }

        div.transbox p {
        margin: 50%;
        font-weight: bold;
        color: #000000;
        font-size: 74px;
        height: 1052px;
        width: 1142px;
        }
</style>
    }

 <!--BACKGROUND-->
    <div class="background">
        <div class="transbox">
            <p>Keväällä<br />
            kaikki<br />
            on<br />
            toisin.</p>
        </div>
    </div><!--BACKGROUND END-->




