
@{
    ViewBag.Title = "Leimasin";
}

@section scripts {
  
}


@section head{
    <link href="~/Content/carousel.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/Mysite.css" rel="stylesheet" />
    <style>
        div.background {
            background-image: url('../../images/leimaseina.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            border: 2px solid black;
            width: 100%;
            height: 1500px;
            margin-top: 5px;
        }

        div.canvas {
            background-color: #ffffff;
            opacity: 0.5;
            text-align: center;
            width: 100%;
            height: 100%;
            padding: 8px 8px 8px 8px;
        }

        div.transbox2 {
            background-color: #b6d8dc; /*t.harmaa*/
            border: 1px solid black;
            opacity: 0.8;
            width: 100%;
            height: 100%;
            padding: 8px 8px 8px 8px;
        }

        div.transbox3 {
            margin-top: 25%;
        }

        div.transbox p {
            font-weight: bold;
            color: #393737;
            font-size: 100px;
            width: 100%;
        }

        div.col-sm-4 {
            position: absolute;
            margin-top: 50%;
            margin-bottom: 50%;
            margin-left: 50%;
            margin-right: 50%;
        }

        div.teksti {
            position: absolute; /*rivittää tekstin ruutuun*/
            font-size: 60px;
            font-weight: bold;
            text-align: justify;
        }

        .img-circle {
            border-radius: 50%;
            width: 800px;
            height: 800px;
        }
    </style>
}

<body onload="startGame()">

    <script>
        var myGamePiece;
        var myBackground;

        function startGame() {
            myGamePiece = new component(500, 500, src = "~/Images/leimaseina.jpg", 500, 500, "image");
            myBackground = new component(656, 270, "leimaseina.jpg", 0, 0, "image");

            myGameArea.start();
        }

        var myGameArea = {
            canvas: document.createElement("canvas"),

            start: function () {

                this.canvas.width = 1080;
                this.canvas.height = 1920;
                this.context = this.canvas.getContext("2d");


                document.body.insertBefore(this.canvas, document.body.childNodes[0]);
                this.frameNo = 0;
                this.interval = setInterval(updateGameArea, 20);
            },
            stop: function () {
                clearInterval(this.interval);
            },
            clear: function () {
                this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
            }
        }

        function component(width, height, color, x, y, type, ctx) {
            ctx.arc(0, 0, radius, 0, 2 * Math.PI);
            this.type = type;
            if (type == "image") {
                this.image = new Image();
                this.image.src = Image;
            }

            this.width = width;
            this.height = height;
            this.angle = 0;
            this.x = x;
            this.y = y;
            this.update = function () {
                ctx = myGameArea.context;
                ctx.save();
                ctx.translate(this.x, this.y);
                ctx.rotate(this.angle);
                ctx.fillStyle = Image;
                ctx.fillRect(this.width / -2, this.height / -2, this.width, this.height);
                ctx.restore();
            }
        }

        function updateGameArea() {
            myGameArea.clear();
            myGamePiece.angle += 1 * Math.PI / 180;
            myGamePiece.update();
        }

    </script>

    <!--BACKGROUND-->
    <div class="background">
        <div class="canvas">
            <div class="transbox2">
                <div class="transbox3">
                    <div id="myDIVpyorre3">
                        <img class="img-circle" src="~/images/leimaseina.jpg" alt="leimaseina"><text fill="#ffffff" font-size="45" font-family="verdana" x="200" y="90">stamp</text>
                    </div>
                </div>
            </div>
        </div>
    </div><!--BACKGROUND END-->

</body>
