
@{
    ViewBag.Title = "Leimasin3";
}

@section scripts {
  
}


@section head{
    <link href="~/Content/carousel.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/Mysite.css" rel="stylesheet" />
    <style>
        div.background {
            background-image: url('../../images/leimaseina.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            border: 2px solid black;
            width: 100%;
            height: 1500px;
            margin-top: 5px;
        }

        div.canvas {
            background-color: #ffffff;
            opacity: 0.5;
            text-align: center;
            width: 100%;
            height: 100%;
            padding: 8px 8px 8px 8px;
        }

        div.transbox2 {
            background-color: #b6d8dc; /*t.harmaa*/
            border: 1px solid black;
            opacity: 0.8;
            width: 100%;
            height: 100%;
            padding: 8px 8px 8px 8px;
        }

        div.transbox3 {
            margin-top: 30%;
        }

        .img-circle {
            border-radius: 50%;
            width: 800px;
            height: 800px;
        }
    </style>
}

<body>
    <!--BACKGROUND-->
    <div class="background">
        <div class="canvas">
            <div class="transbox2">
                <div class="transbox3">
                    <div id="myDIVpyorre3">
                        <img class="img-circle" src="~/images/leimaseina.jpg" alt="leimaseina">
                    </div>
                </div>
            </div>
        </div>
    </div><!--BACKGROUND END-->
</body>
