
@{
    ViewBag.Title = "MerryXmas2016";
}

@section scripts {
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/respond.js"></script>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery-2.2.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    @Scripts.Render("~/bundles/jqueryval")
}


@section head{
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Sectionscripts/Mysite.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        body{
            background-color:gainsboro;
        }
        div.background {
            background-image: url('../../Images/IceStars2.jpg');
            border: 2px solid black;
            opacity: 0.8;
            margin: 50px;
            width: 1080px;
            height: 1920px;
            text-align: center;
        }

        div.transbox {
            margin: 5px;
            background-color: #808080; /*harmaa*/
            border: 1px solid black;
            opacity: 0.5;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            width: 1065px;
            height: 1905px;
            text-align: center;
        }

        div.transbox2 {
            margin: 5px;
            background-color: #ffffff; /*musta*/
            border: 1px solid black;
            opacity: 0.8;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            width: 1052px;
            height: 1892px;
            text-align: center;
        }

        div.transbox p {
            margin-left: 45%;
            margin-top: 50%;
            font-weight: bold;
            color: #ffffff;
            font-size: 200px;
            width: 1035px;
            height: 1875px;
            text-align: center;
        }

        div.pallot {
            margin-top: 5%;
            opacity: 0.9;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            text-align: center;

        }

        div.col-sm-4 {
            margin-top: 5%;
            text-align: center;
        }


        p.Text {
            padding-top: 5px;
            padding-right: 5px;
            padding-bottom: 5px;
            padding-left: 5px;
        }
        .w3-myfont {
            font-family: "Comic Sans MS", /*cursive,*/, sans-serif;
            font-size: 36px;
        }
        img{
            margin-bottom:0px !important;
        }
        material-icons{
            text-align: center;
            
            
        }
    </style>
}

<body>
    <!--BACKGROUND-->
    <div class="w3-container">
        <div class="background">
            @*<div class="transbox">*@
                @*<div class="transbox2">*@
                    <div class="pallot">

                        <div class="col-sm-4">
                            <div id="myDIVpyorre4">
                                 <div class="w3-center">
                                    <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääpeili" width="200" height="200">
                                </div>
                                <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:160px;color:silver;">ac_unit</i></div>                              
                             </div>                    
                        </div><!-- /.col-lg-4 -->
                          
                        <div class="col-sm-4">
                            <div class="w3-display-container w3-text-white w3-myfont w3-animate-fading">
                                <img class="square" src="~/Images/IceStars.jpg" alt="icestar" width="200" height="200"><div class="w3-display-middle w3-myfont">HYVÄÄ JOULUA</div>
                        </div>
                            </div><!-- /.col-lg-4 -->
                        
                        <div class="col-sm-4">
                            <div id="myDIVpyorre4">
                                <div class="w3-center">
                                    <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääpeili" width="200" height="200">
                                </div>
                                <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:160px;color:silver;">ac_unit</i></div>
                            </div>
                        </div><!-- /.col-lg-4 -->
                        
                        <div class="col-sm-4">
                            <div class="w3-display-container w3-text-white w3-myfont w3-animate-fading">
                                <img class="square" src="~/Images/IceStars.jpg" alt="icestar" width="200" height="200"><div class="w3-display-middle w3-myfont">MERRY XMAS</div>
                            </div>
                        </div><!-- /.col-lg-4 -->

                        <div class="clearfix"></div>

                        <div class="col-sm-4">
                            <div class="w3-display-container w3-text-white w3-myfont w3-animate-fading">
                                <img class="square" src="~/Images/IceStars.jpg" alt="icestar" width="200" height="200"><div class="w3-display-middle w3-myfont">GOD JUL</div>
                            </div>
                        </div><!-- /.col-lg-4 -->

                        <div class="col-sm-4">
                            <div id="myDIVpyorre4">
                                <div class="w3-center">
                                    <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääpeili" width="200" height="200">
                                </div>
                                <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:160px;color:silver;">ac_unit</i></div>
                            </div>
                        </div><!-- /.col-lg-4 -->
                        
                        <div class="col-sm-4">
                            <div class="w3-display-container w3-text-white w3-myfont w3-animate-fading">
                                <img class="square" src="~/Images/IceStars.jpg" alt="icestar" width="200" height="200"><div class="w3-display-middle w3-myfont" font-size="12">ONNEA VUODELLE 2017</div>
                            </div>
                        </div><!-- /.col-lg-4 -->

                        <div class="col-sm-4">
                            <div id="myDIVpyorre4">
                                <div class="w3-center">
                                    <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääpeili" width="200" height="200">
                                </div>
                                <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:160px;color:silver;">ac_unit</i></div>
                            </div>
                        </div><!-- /.col-lg-4 -->

                        <div class="clearfix"></div>

                        <div class="col-sm-4">
                            <div id="myDIVpyorre4">
                                <div class="w3-center">
                                    <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääpeili" width="200" height="200">
                                </div>
                                <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:160px;color:silver;">ac_unit</i></div>
                            </div>
                        </div><!-- /.col-lg-4 -->
                        
                        <div class="col-sm-4">
                            <div class="w3-display-container w3-text-white w3-myfont w3-animate-fading">
                                <img class="square" src="~/Images/IceStars.jpg" alt="icestar" width="200" height="200"><div class="w3-display-middle w3-myfont">HAPPY NEW YEAR 2017</div>
                            </div>
                        </div><!-- /.col-lg-4 -->

                        <div class="col-sm-4">
                            <div id="myDIVpyorre4">
                                <div class="w3-center">
                                    <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääpeili" width="200" height="200">
                                </div>
                                <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:160px;color:silver;">ac_unit</i></div>
                            </div>
                        </div><!-- /.col-lg-4 -->
                        
                        <div class="col-sm-4">
                            <div class="w3-display-container w3-text-white w3-myfont w3-animate-fading">
                                <img class="square" src="~/Images/IceStars.jpg" alt="icestar" width="200" height="200"><div class="w3-display-middle w3-myfont">JOYEUX NOËL</div>
                            </div>
                        </div><!-- /.col-lg-4 -->

                        <div class="clearfix"></div>

                        <div class="col-sm-4">
                            <div class="w3-display-container w3-text-white w3-myfont w3-animate-fading">
                                <img class="square" src="~/Images/IceStars.jpg" alt="icestar" width="200" height="200"><div class="w3-display-middle w3-myfont">BONNE ANNÉE</div>
                            </div>
                        </div><!-- /.col-lg-4 -->

                        <div class="col-sm-4">
                            <div id="myDIVpyorre4">
                                <div class="w3-center">
                                    <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääpeili" width="200" height="200">
                                </div>
                                <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:160px;color:silver;">ac_unit</i></div>
                            </div>
                        </div><!-- /.col-lg-4 -->
                        
                        <div class="col-sm-4">
                            <div class="w3-display-container w3-text-white w3-myfont w3-animate-fading">
                                <img class="square" src="~/Images/IceStars.jpg" alt="icestar" width="200" height="200"><div class="w3-display-middle w3-myfont">Feliz Navidad!</div>
                            </div>
                        </div><!-- /.col-lg-4 -->

                        <div class="col-sm-4">
                            <div id="myDIVpyorre4">
                                <div class="w3-center">
                                    <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääpeili" width="200" height="200">
                                </div>
                                <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:160px;color:silver;">ac_unit</i></div>
                            </div>
                        </div><!-- /.col-lg-4 -->

                        <div class="clearfix"></div>

                        <div class="col-sm-4">
                            <div id="myDIVpyorre4">
                                <div class="w3-center">
                                    <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääpeili" width="200" height="200">
                                </div>
                                <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:160px;color:silver;">ac_unit</i></div>
                            </div>
                        </div><!-- /.col-lg-4 -->
                        
                        <div class="col-sm-4">
                            <div class="w3-display-container w3-text-white w3-myfont w3-animate-fading">
                                <img class="square" src="~/Images/IceStars.jpg" alt="icestar" width="200" height="200"><div class="w3-display-middle w3-myfont">PRÓSPERO AÑO NUEVO</div>
                            </div>
                        </div><!-- /.col-lg-4 -->

                        <div class="col-sm-4">
                            <div id="myDIVpyorre4">
                                <div class="w3-center">
                                    <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääpeili" width="200" height="200">
                                </div>
                                <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:160px;color:silver;">ac_unit</i></div>
                            </div>
                        </div><!-- /.col-lg-4 -->
                        
                        <div class="col-sm-4">
                            <div class="w3-display-container w3-text-white w3-myfont w3-animate-fading">
                                <img class="square" src="~/Images/IceStars.jpg" alt="icestar" width="200" height="200"><div class="w3-display-middle w3-myfont">BUON NATALE</div>
                            </div>
                        </div><!-- /.col-lg-4 -->

                        <div class="clearfix"></div>

                        <div class="col-sm-4">
                            <div class="w3-display-container w3-text-white w3-myfont w3-animate-fading">
                                <img class="square" src="~/Images/IceStars.jpg" alt="icestar" width="200" height="200"><div class="w3-display-middle w3-myfont">FELICE ANNO NUOVO</div>
                            </div>
                        </div><!-- /.col-lg-4 -->

                        <div class="col-sm-4">


                            <div id="myDIVpyorre4">
                                <div class="w3-center">
                                    <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääpeili" width="200" height="200">
                                </div>
                                <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:160px;color:silver;">ac_unit</i></div>
                            </div>
                        </div><!-- /.col-lg-4 -->
                        
                        <div class="col-sm-4">
                            <div class="w3-display-container w3-text-white w3-myfont w3-animate-fading">
                                <img class="square" src="~/Images/IceStars.jpg" alt="icestar" width="200" height="200"><div class="w3-display-middle w3-myfont">FROHE WEIH-<br />NACHTEN</div>
                            </div>
                        </div><!-- /.col-lg-4 -->

                        <div class="col-sm-4">
                            <div id="myDIVpyorre4">
                                <div class="w3-center">
                                    <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääpeili" width="200" height="200">
                                </div>
                                <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:160px;color:silver;">ac_unit</i></div>
                            </div>
                        </div><!-- /.col-lg-4 -->
                        
                        <div class="clearfix"></div>

                        <div class="col-sm-4">
                            <div id="myDIVpyorre4">
                                <div class="w3-center">
                                    <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääpeili" width="200" height="200">
                                </div>
                                <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:160px;color:silver;">ac_unit</i></div>
                            </div>
                        </div><!-- /.col-lg-4 -->
                        
                        <div class="col-sm-4">
                            <div class="w3-display-container w3-text-white w3-myfont w3-animate-fading">
                                <img class="square" src="~/Images/IceStars.jpg" alt="icestar" width="200" height="200"><div class="w3-display-middle w3-myfont" font-size="24">GLÜCK-<br />LICHES <br /> NEUES <br /> JAHR</div>
                            </div>
                        </div><!-- /.col-lg-4 -->

                        <div class="col-sm-4">
                            <div id="myDIVpyorre4">
                                <div class="w3-center">
                                    <img class="img-circle" src="~/Images/jääpeilipysty.jpg" alt="jääpeili" width="200" height="200">
                                </div>
                                <div class="w3-display-middle"><i class="material-icons w3-spin" style="font-size:160px;color:silver;">ac_unit</i></div>
                            </div>
                        </div><!-- /.col-lg-4 -->

                        <div class="col-sm-4">
                            <div class="w3-display-container w3-text-white w3-myfont w3-animate-fading">
                                <img class="square" src="~/Images/IceStars.jpg" alt="icestar" width="200" height="200"><div class="w3-display-middle w3-myfont">GOTT NYTT ÅR</div>
                            </div>
                        </div><!-- /.col-lg-4 -->

                        <div class="clearfix"></div>

                        
                    </div><!--pallot END-->
                </div>
    </div><!--BACKGROUND END-->
</body>