
@{
    ViewBag.Title = "Move";
}


<!-- Custom styles for this template -->
<link href="carousel.css" rel="stylesheet">
<link rel="stylesheet" media="all" href="css/reset.css" /> <!-- reset css -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="~/Scripts/jquery-3.1.1.js"></script>

@section scripts{
    <style>

        div.background {
            background-image: url('../../Images/haituvapalloblack.jpg');
            border: 2px solid black;
            margin: 0 auto;
            /*opacity:0.9;*/
            width: 1080px;
            height: 1920px;
            position:relative;
        }


    </style>
}
    
     <!--BACKGROUND-->
<div class="background">

    <div id="myDIVtrans">
        <h1 Style="font-size: 150px; color:lightgrey;">K</h1>
        <div id="myDIVtrans1">
            <h1 Style="font-size: 175px; color:orangered;">E</h1>
        </div>
        <div id="myDIVtrans2">
            <h1 Style="font-size: 150px; color:forestgreen;">S</h1>
        </div>
        <div id="myDIVtrans3">
            <h1 Style="font-size: 200px; color:yellow;">Ä</h1>
        </div>
    </div>

    <div id="myDIVtrans1">
        <h1 Style="font-size: 75px; color:orangered;">E</h1>

        <div id="myDIVtrans">
            <h1 Style="font-size: 250px; color:lightgrey;">K</h1>
        </div>
        <div id="myDIVtrans2">
            <h1 Style="font-size: 80px; color:forestgreen;">S</h1>
        </div>
        <div id="myDIVtrans3">
            <h1 Style="font-size: 50px; color:yellow;">Ä</h1>
        </div>
    </div>

    <div id="myDIVtrans2">
        <h1 Style="font-size: 150px; color:forestgreen;">S</h1>
        <div id="myDIVtrans3">
            <h1 Style="font-size: 60px; color:yellow;">Ä</h1>
        </div>
        <div id="myDIVtrans">
            <h1 Style="font-size: 45px; color:lightgrey;">K</h1>
        </div>
        <div id="myDIVtrans1">
            <h1 Style="font-size: 90px; color:orangered;">E</h1>
        </div>
    </div>

    <div id="myDIVtrans3">
        <h1 Style="font-size: 125px; color:yellow;">Ä</h1>
        <div id="myDIVtrans">
            <h1 Style="font-size: 200px; color:lightgrey;">K</h1>
        </div>
        <div id="myDIVtrans1">
            <h1 Style="font-size: 100px; color:orangered;">E</h1>
        </div>
        <div id="myDIVtrans2">
            <h1 Style="font-size: 75px; color:forestgreen;">S</h1>
        </div>
        <div id="myDIVtrans3">
            <h1 Style="font-size: 90px; color:yellow;">Ä</h1>
        </div>
    </div>

    </div><!--BACKGROUND END-->