
@{
    ViewBag.Title = "Move";
}


@section scripts {

}


@section head{
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link href="~/Content/Mysite.css" rel="stylesheet" />
 
    <style>
        body {
            background-color: rgb(232,232,232);
            /*margin-bottom: 5px;*/
        }

        div.background {
            background-image: url('../../Images/haituvapalloblack.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            border: 2px solid black;
            width: 100%;
            height: 2112px;
            position: relative;
            object-fit: scale-down;
            overflow: auto;
        }

        .myFonts {
           /* padding-bottom: 5px;*/
        }
    </style>
}

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-top:2px;">
    <!--BACKGROUND-->
    <div class="background">
        <div class="myFonts">
            <div id="myDIVtrans">
                <h1 Style="font-size: 150px; color:lightgrey;">K</h1>
                <div id="myDIVtrans1">
                    <h1 Style="font-size: 175px; color:orangered;">E</h1>
                </div>
                <div id="myDIVtrans2">
                    <h1 Style="font-size: 150px; color:forestgreen;">S</h1>
                </div>
                <div id="myDIVtrans3">
                    <h1 Style="font-size: 200px; color:yellow;">Ä</h1>
                </div>
            </div>

            <div id="myDIVtrans1">
                <h1 Style="font-size: 75px; color:orangered;">E</h1>

                <div id="myDIVtrans">
                    <h1 Style="font-size: 250px; color:lightgrey;">K</h1>
                </div>
                <div id="myDIVtrans2">
                    <h1 Style="font-size: 80px; color:forestgreen;">S</h1>
                </div>
                <div id="myDIVtrans3">
                    <h1 Style="font-size: 50px; color:yellow;">Ä</h1>
                </div>
            </div>

            <div id="myDIVtrans2">
                <h1 Style="font-size: 150px; color:forestgreen;">S</h1>
                <div id="myDIVtrans3">
                    <h1 Style="font-size: 60px; color:yellow;">Ä</h1>
                </div>
                <div id="myDIVtrans">
                    <h1 Style="font-size: 45px; color:lightgrey;">K</h1>
                </div>
                <div id="myDIVtrans1">
                    <h1 Style="font-size: 90px; color:orangered;">E</h1>
                </div>
            </div>

            <div id="myDIVtrans3">
                <h1 Style="font-size: 125px; color:yellow;">Ä</h1>
                <div id="myDIVtrans">
                    <h1 Style="font-size: 200px; color:lightgrey;">K</h1>
                </div>
                <div id="myDIVtrans1">
                    <h1 Style="font-size: 100px; color:orangered;">E</h1>
                </div>
                <div id="myDIVtrans2">
                    <h1 Style="font-size: 75px; color:forestgreen;">S</h1>
                </div>
                <div id="myDIVtrans3">
                    <h1 Style="font-size: 90px; color:yellow;">Ä</h1>
                </div>
            </div>
        </div>
    </div><!--BACKGROUND END-->
</div>
