
@{
    ViewBag.Title = "Ratas2";
}

@section scripts {
   
}

@section head{
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Mysite.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

    <style>
        body {
            background-color: rgb(232,232,232);
        }

        div.background {
            background-image: url('../../images/leimaseina.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            border: 1px solid black;
            width: 100%;
            height: 2160px;
        }

        div.transbox {
            background-color: #ffffff;
            opacity: 0.5;
         
            width: 100%;
            height: 100%;
        }

        div.transbox2 {
            background-color: #b6d8dc; /*t.harmaa*/
            opacity: 0.5;
        
            width: 100%;
            height: 100%;
        }

        .transbox p {
            font-weight: bold;
            color: #393737;
            font-size: 100px;
            width: 100%;
        }

        .col-md-4 {
            margin-top: 25%;
            margin-left: 5%;
            margin-bottom: 1%;
        }

        .col-md-8 {
            margin-top: 10%;
            margin-left: 35%;
            margin-right: 2%;
            margin-bottom: 2%;
        }

        div.teksti {
            position: absolute; /*rivittää tekstin ruutuun*/
            font-size: 60px;
            font-weight: bold;
            padding-left: 5%;
            text-align: justify;
        }

        .img-circle {
            border-radius: 50%;
        }

        img {
          
        }
    </style>
}

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:0px;margin-top:20px;">

    <!--BACKGROUND-->
        <div class="background">
            <div class="transbox">
                <div class="transbox2">
                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-md-4">
                                <div id="myDIVpyorre3">
                                    <div class="w3-display-middle">
                                        <img class="img-circle" src="~/Images/Ratasopacity.png" alt="ratasopacity" width="400" height="400">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div id="myDIVpyorre3">
                                    <div class="w3-display-middle">
                                        <a href="#" target="_blank"><img class="img-circle" src="~/Images/Ratasopacity.png" alt="ratasopacity2" width="800" height="800"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div id="myDIVpyorre3">
                                    <div class="w3-center w3-display-middle">
                                        <a href="#" target="_blank"><img class="img-circle" src="~/Images/Ratasopacity.png" alt="ratasopacity3" width="350" height="350"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div id="myDIVpyorre3">
                                    <div class="w3-center w3-display-middle">
                                        <a href="#" target="_blank"><img class="img-circle" src="~/Images/Ratasopacity.png" alt="ratasopacity4" width="500" height="500"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div id="myDIVpyorre3">
                                    <div class="w3-center w3-display-middle">
                                        <a href="#" target="_blank"><img class="img-circle" src="~/Images/Ratasopacity.png" alt="ratasopacity5" width="500" height="500"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div id="myDIVpyorre1">
                                    <div class="w3-center w3-display-middle">
                                        <a href="#" target="_blank"><img class="img-circle" src="~/Images/Ratasopacity.png" alt="ratasopacity6" width="600" height="600"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div id="myDIVpyorre2">
                                    <div class="w3-center w3-display-middle">
                                        <a href="#" target="_blank"><img class="img-circle" src="~/Images/Ratasopacity.png" alt="ratasopacity7" width="800" height="800"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div id="myDIVpyorre1">
                                    <div class="w3-center w3-display-middle">
                                        <a href="#" target="_blank"><img class="img-circle" src="~/Images/Ratasopacity.png" alt="ratasopacity8" width="200" height="200"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div id="myDIVpyorre2">
                                    <div class="w3-center w3-display-middle">
                                        <a href="#" target="_blank"><img class="img-circle" src="~/Images/Ratasopacity.png" alt="ratasopacity9" width="150" height="150"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div id="myDIVpyorre">
                                    <div class="w3-center w3-display-middle">
                                        <a href="#" target="_blank"><img class="img-circle" src="~/Images/Ratasopacity.png" alt="ratasopacity10" width="100" height="100"></a>
                                    </div>
                                </div>
                            </div>

                       
                        </div>
                    </div>
                </div>
            </div>
        </div><!--BACKGROUND END-->
    </div>






