
@{
    ViewBag.Title = "RatasMove";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
    div.background {
        background-image: url('../../images/leimaseina.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        /* background-attachment: fixed;*/
        background-position: center;
        border: 2px solid black;
        width: 100%;
        height: 1000px;
        padding: 8px 8px 8px 8px;
    }
</style>


<div class="background">
    <div class="w3-container w3-center w3-animate-zoom">
        <img src="/Images/Ratasopacity.png" alt="Ratas" style="width:100%">
    </div>
</div>
