
@{
    ViewBag.Title = "Sirkkeli";
}


@section scripts {

}


@section head{
    <link href="~/Content/Mysite.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

    <style>
        body {
            background-color: rgb(232,232,232);
        }

        div.background {
            background-image: url('../../images/Greywood.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            border: 1px solid black;
            width: 100%;
            height: 1000px;
        }

        div.canvas {
            background-color: #ffffff;
            text-align: center;
            width: 100%;
            height: 100%;
        }

        div.transbox2 {
            background-color: rgb(232,232,232); /*t.harmaa*/
            border: 1px solid black;
            width: 100%;
            height: 100%;
        }

        div.transbox3 {
            padding-top: 40%;
        }

        .img-circle {
            border-radius: 50%;
            width: 800px;
            height: 800px;
        }

        .w3-myfont {
            font-family: "Comic Sans MS", /*cursive,*/, sans-serif;
            font-size: 150px;
            word-spacing: 50px;
            text-align: center;
        }
    </style>
}

<!-- !PAGE CONTENT! -->
@*<div class="w3-main" style="margin-top:20px;">*@

    <!--BACKGROUND-->
    <div class="background">
        <div class="transbox3">
            <div id="myDIVpyorre3">
                <div class="w3-display-container w3-text-white w3-myfont">
                    <img class="img-circle w3-display-middle" src="~/images/Sirkkeli.png" alt="sirkkeli"><div class="w3-display-middle w3-myfont">S    A  W</div>
                </div>
            </div>
        </div>
    </div><!--BACKGROUND END-->
@*</div>*@






