
@{
    ViewBag.Title = "Sivu1";
}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
<script src="http://code.jquery.com/jquery.min.js"></script>

@section scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    @Scripts.Render("~/bundles/jqueryval")
}


@section head{
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Sectionscripts/Mysite.css" rel="stylesheet" />

<style>
    body {
        background-color: rgb(232,232,232);
    }
    div.background { 
        background-image: url('../../Images/jaakiteet.jpg');
        border: 2px solid black;
        height: 1080px;
        /*width: 1170px;*/
        width:100%;
    }

    div.transbox {
        /*margin: 5px;*/
        background-color: #ffffff;
        border: 1px solid black;
        opacity: 0.3;
        filter: alpha(opacity=60); /* For IE8 and earlier */
        height: 1080px;
        /*width: 1155px;*/
        width: 100%;
    }

        div.transbox p {
            margin: 50%;
            font-weight: bold;
            color: #000000; /*musta*/
            font-size: 74px;
            height: 1080px;
            /*width: 1142px;*/
            width: 100%;
        }
</style>
    }

    <!--BACKGROUND-->
    <div class="background">
        <div class="transbox">
            <p>Talvi <br />
            muodostuu <br />
            jääkiteistä.</p>
        </div>
    </div><!--BACKGROUND END-->



