
@{
    ViewBag.Title = "Sivu1";
}


@section scripts {

}


@section head{
    <link href="~/Content/Mysite.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

    <style>
        body {
            background-color: rgb(232,232,232);
        }

        div.background {
            background-image: url('../../Images/jaakiteet.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            border: 2px solid black;
            width: 100%;
            height: 1080px;
        }

        div.transbox {
            background-color: #ffffff;
            border: 1px solid black;
            opacity: 0.3;
            width: 100%;
            height: 100%;
            padding: 8px 8px 8px 8px;
        }

        div.transbox p {
            margin: 50%;
            font-weight: bold;
            color: #000000; /*musta*/
            font-size: 74px;
            width: 100%;
        }
    </style>
}

<!--BACKGROUND-->
<div class="background">
    <div class="transbox">
        <p>
            Talvi <br />
            muodostuu <br />
            jääkiteistä.
        </p>
    </div>
</div><!--BACKGROUND END-->
