
@{
    ViewBag.Title = "TalviImage3";
}

@section scripts{


<style>
    div.background {
        background-image: url('../../Images/jaakiteet.jpg');
        border: 2px solid black;
        margin: 0px;
        height: 1080px;
        width: 1170px;
    }

    div.transbox {
        margin: 5px;
        background-color: #ffffff;
        border: 1px solid black;
        opacity: 0.5;
        filter: alpha(opacity=60); /* For IE8 and earlier */
        height: 1065px;
        width: 1155px;
    }

    div.transbox2 {
        margin: 5px;
        background-color: rgb(173, 215, 137);
        border: 1px solid black;
        opacity: 0.8;
        filter: alpha(opacity=60); /* For IE8 and earlier */
        height: 1052px;
        width: 1142px;
    }

    div.transbox p {
        margin: 25%;
        font-weight: bold;
        color: #ffffff;
        font-size: 500px;
        height: 1035px;
        width: 1125px;
    }
</style>
    }


    <!--BACKGROUND-->
    <div class="background">
        <div class="transbox">
            <div class="transbox2">
                <p>TALVI</p>
            </div>
        </div>
    </div><!--BACKGROUND END-->

