
@{
    ViewBag.Title = "Timesgoesby";
}

@section scripts{

}

@section head{
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link href="~/Content/Mysite.css" rel="stylesheet" />

    <style>
        #myDIV {
            position: relative;
            width: 1000px;
            height: 1000px;
            background-color: lightblue;
            -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
            animation: mymove 5s infinite;
            opacity: 0.6;
            padding-top: 300px;
            padding-left: 5px;
        }

        #DIV2 {
            background-image: url('../../Images/jaakiteet.jpg');
            background-color: coral;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            border: 1px solid black;
            width: 1000px;
            height: 1000px;
            margin: auto;
            font-weight: bold;
            font-family: Verdana, monospace;
            /* Chrome, Safari, Opera */  
        }
    </style>
}

<body class="w3-light-grey">

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-top:20px;">

        <!-- WRAPPER
          ================================================== -->
        <div class="wrapper">

            <div id="DIV2" Style="font-size: 72px;">
                <h1>
                    Talvi   Kevät   Kesä   Syksy   Talvi   Kevät * Kesä   Syksy   Talvi   Kevät   Kesä   Syksy
                    Talvi * Kevät   Kesä   Syksy   Talvi   Kevät   Kesä   Syksy   Talvi   Kevät   Kesä   Syksy
                    Talvi   Kevät   Kesä   Syksy   Talvi   Kevät   Kesä * Syksy   Talvi   Kevät   Kesä   Syksy
                    Talvi   Kevät   Kesä * Syksy   Talvi   Kevät   Kesä   Syksy   Talvi   Kevät   Kesä   Syksy
                    Talvi   Kevät   Kesä   Syksy * Talvi   Kevät   Kesä   Syksy   Talvi   Kevät   Kesä   Syksy
                    Talvi   Kevät   Kesä   Syksy   Talvi   Kevät   Kesä   Syksy   Talvi * Kevät   Kesä   Syksy
                    Talvi   Kevät   Kesä   Syksy   Talvi   Kevät   Kesä   Syksy * Talvi   Kevät   Kesä   Syksy
                    Talvi   Kevät   Kesä   Syksy   Talvi * Kevät   Kesä   Syksy   Talvi   Kevät   Kesä   Syksy
                    Talvi   Kevät   Kesä   Syksy   Talvi   Kevät   Kesä   Syksy   Talvi   Kevät   Kesä * Syksy
                    Talvi * Kevät   Kesä   Syksy   Talvi   Kevät   Kesä   Syksy   Talvi   Kevät   Kesä   Syksy
                    Talvi   Kevät * Kesä   Syksy   Talvi * Kevät   Kesä   Syksy   Talvi   Kevät   Kesä   Syksy
                    Talvi   Kevät   Kesä   Syksy * Talvi   Kevät   Kesä   Syksy   Talvi   Kevät   Kesä   Syksy
                    Talvi   Kevät   Kesä   Syksy   Talvi   Kevät   Kesä   Syksy * Talvi   Kevät   Kesä   Syksy
                    Talvi   Kevät   Kesä   Syksy   Talvi   Kevät   Kesä   Syksy   Talvi   Kevät * Kesä   Syksy
                </h1>
            </div>

            <div id="myDIV" style="font-size:80px; margin-left:0px">
                <p style="font-size:100px;">Talvi</p><p style="font-size:100px;">Kevät</p><p style="font-size:100px;">Kesä</p><p style="font-size:100px;">Syksy</p>
            </div>
        </div><!-- /.wrapper END -->
    </div>
    
</body>
