
@{
    ViewBag.Title = "Timesgoesby";
}


@section scripts{

}

@section head{
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link href="~/Content/Mysite.css" rel="stylesheet" />
 
    <style>

        div.wrapper {
            background-color: #ffffff;
            /*color: rgb(220, 220, 220);*/ /*harmaa*/
            width: 100%;
            height: auto;
        }

        #myDIVtime {
            background-color: lightblue;
            position: relative;
            width: 100%;
            height: 1000px;
            opacity: 0.9;
            padding-top: 300px;
            padding-left: 25px;
            
        }

        #DIV3 {
            background-image: url('../../Images/jaakiteet.jpg');
            background-color: coral;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            border: 1px solid black;
            width: 1000px;
            height: 1000px;
            /*overflow: auto;*/
            /*margin: auto;*/
            font-weight: bold;
            font-family: Verdana, monospace;
            animation-delay: 0s;
            animation-timing-function: linear;
            transform-origin: 50% 50%;
            animation: mymove9 480s linear infinite;
            -webkit-animation: mymove9 480s linear infinite; /* Chrome, Safari, Opera */
            -moz-animation: mymove9 480s linear infinite;
            float: left;
        }
    </style>
}


    <body class="w3-light-grey">

        <!-- !PAGE CONTENT! -->
        <div class="w3-main" style="margin-top:20px;">

            <!-- WRAPPER
          ================================================== -->
            <div class="wrapper">

                <div id="DIV3" Style="font-size: 72px;">
                    <h1>
                        Talvi   Kevät   Kesä   Syksy   Talvi   Kevät * Kesä   Syksy   Talvi   Kevät   Kesä   Syksy
                        Talvi * Kevät   Kesä   Syksy   Talvi   Kevät   Kesä   Syksy   Talvi   Kevät   Kesä   Syksy
                        Talvi   Kevät   Kesä   Syksy   Talvi   Kevät   Kesä * Syksy   Talvi   Kevät   Kesä   Syksy
                        Talvi   Kevät   Kesä * Syksy   Talvi   Kevät   Kesä   Syksy   Talvi   Kevät   Kesä   Syksy
                        Talvi   Kevät   Kesä   Syksy * Talvi   Kevät   Kesä   Syksy   Talvi   Kevät   Kesä   Syksy
                        Talvi   Kevät   Kesä   Syksy   Talvi   Kevät   Kesä   Syksy   Talvi * Kevät   Kesä   Syksy
                        Talvi   Kevät   Kesä   Syksy   Talvi   Kevät   Kesä   Syksy * Talvi   Kevät   Kesä   Syksy
                        Talvi   Kevät   Kesä   Syksy   Talvi * Kevät   Kesä   Syksy   Talvi   Kevät   Kesä   Syksy
                        Talvi   Kevät   Kesä   Syksy   Talvi   Kevät   Kesä   Syksy   Talvi   Kevät   Kesä * Syksy
                        Talvi * Kevät   Kesä   Syksy   Talvi   Kevät   Kesä   Syksy   Talvi   Kevät   Kesä   Syksy
                        Talvi   Kevät * Kesä   Syksy   Talvi * Kevät   Kesä   Syksy   Talvi   Kevät   Kesä   Syksy
                        Talvi   Kevät   Kesä   Syksy * Talvi   Kevät   Kesä   Syksy   Talvi   Kevät   Kesä   Syksy
                        Talvi   Kevät   Kesä   Syksy   Talvi   Kevät   Kesä   Syksy * Talvi   Kevät   Kesä   Syksy
                        Talvi   Kevät   Kesä   Syksy   Talvi   Kevät   Kesä   Syksy   Talvi   Kevät * Kesä   Syksy
                    </h1>
                </div>

                <div id="myDIVtime" style="font-size:200px;">
                    <p style="font-size:100px;">Talvi</p><p style="font-size:100px;">Kevät</p><p style="font-size:100px;">Kesä</p><p style="font-size:100px;">Syksy</p>
                </div>
            </div><!-- /.wrapper END -->
        </div>
      
    </body>