
@{
    ViewBag.Title = "Voimala";
}

@section scripts{

    <style>
        div.background {
            background-image: url('../../Images/Voimala.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            border: 2px solid black;
            width: 100%;
            height: 285px;
            margin-top: 5px;
        }

        div.transbox {
            background-color: #ffffff;
            border: 1px solid black;
            opacity: 0.5;
            width: 100%;
            height: 100%;
            padding: 8px 8px 8px 8px;
        }

        div.transbox2 {
            background-color: #140d06;
            border: 1px solid black;
            opacity: 0.5;
            width: 100%;
            height: 100%;
            padding: 8px 8px 8px 8px;
        }

        div.transbox p {
            padding-left: 15%;
            padding-top: 7%;
            font-weight: bold;
            color: #ffffff;
            font-size: 150px;
            width: 100%;
        }
    </style>
}


<!--BACKGROUND-->
<div class="background">
    <div class="transbox">
        <div class="transbox2">
            <p>mindFactory</p>
        </div>
    </div>
</div><!--BACKGROUND END-->


