
@{
    ViewBag.Title = "Voimala";
}

@section scripts{

    <style>
        div.background {
            background-image: url('../../Images/Voimala.jpg');
            border: 2px solid black;
            margin: 50px;
            height: 285px;
            width: 1170px;
        }

        div.transbox {
            margin: 5px;
            background-color: #ffffff;
            border: 1px solid black;
            opacity: 0.5;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            height: 274px;
            width: 1159px;
        }

        div.transbox2 {
            margin: 0px;
            background-color: #140d06;
            border: 1px solid black;
            opacity: 0.5;
            filter: alpha(opacity=60); /* For IE8 and earlier */
            height: 274px;
            width: 1159px;
        }

        div.transbox p {
            margin-left: 10%;
            margin-top: 7%;
            font-weight: bold;
            color: #ffffff;
            font-size: 150px;
            height: 249px;
            width: 1134px;
        }
    </style>
}


<!--BACKGROUND-->
<div class="background">
    <div class="transbox">
        <div class="transbox2">
            <p>mindFactory</p>
        </div>
    </div>
</div><!--BACKGROUND END-->


