
@{
    ViewBag.Title = "Vuodenaika";
}

@section scripts{
    

    <style>
        div.background {
            background-image: url('../../Images/neliöpultti.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            border: 2px solid black;
            width: 100%;
            height: 1920px;
            margin-top: 5px;
            padding: 8px 8px 8px 8px;
        }

        div.transbox {
            background-color: #ffffff;
            border: 1px solid black;
            opacity: 0.5;
            width: 100%;
            height: 100%;
            padding: 8px 8px 8px 8px;
        }

        div.transbox2 {
            background-color: #d6d6c2;
            border: 1px solid black;
            opacity: 0.8;
            width: 100%;
            height: 100%;
            padding: 8px 8px 8px 8px;
        }

        div.transbox p {
            padding: 35%;
            font-weight: bold;
            color: #ffffff;
            font-size: 200px;
            width: 100%;
        }
    </style>
}


<!--BACKGROUND-->
<div class="background">
    <div class="transbox">
        <div class="transbox2">  
             <p>TALVI <br />
                KEVÄT <br />
                KESÄ <br />
                SYKSY <br />
             </p>          
        </div>
    </div>
</div><!--BACKGROUND END-->

