
@{
    ViewBag.Title = "YearsGoOn";
}

@section scripts{
  
}


@section head {
    <link href="~/Content/YearsGoOn.css" rel="stylesheet" />
    <link href="~/Content/carousel.css" rel="stylesheet" />

    <style>

        div.background {
            background-image: url('../../Images/jääpeili.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            border: 2px solid black;
            width: 100%;
            height: 1920px;
            padding: 8px 8px 8px 8px;
            overflow: auto;
            margin-top: 5px;
        }

        div.transbox {
            background-color: #000000; /*valkoinen*/
            border: 1px solid black;
            opacity: 0.5;
            width: 100%;
            height: 100%;
            padding: 8px 8px 8px 8px;
            overflow: auto;
        }

        div.transbox2 {
            background-color: #666666; /*harmaa*/
            border: 1px solid black;
            opacity: 0.8;
            width: 100%;
            height: 100%;
            padding: 8px 8px 8px 8px;
            overflow: auto;
        }

        /*div.transbox p {
            margin-left: 45%;
            margin-top: 50%;
            font-weight: bold;
            color: #ffffff;/*valkoinen
            font-size: 200px;
            width: 1875px;
            height: 1875px;
        }*/

        div.move {
            opacity: 0.8;
            background-color: #000000; /*musta*/
            font-weight: bold;
            position: relative;
            -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
            animation: mymove 8s infinite;
        }

        div.move2 {
            opacity: 0.8;
            background-color: #000000; /*musta*/
            font-weight: bold;
            position: relative;
            -webkit-animation: mymove2 5s infinite; /* Chrome, Safari, Opera */
            animation: mymove2 8s infinite;
        }

        /* Chrome, Safari, Opera */
        #div1 {
            -webkit-animation-timing-function: linear;
            font-size: 100px;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        #div2 {
            -webkit-animation-timing-function: ease;
            font-size: 100px;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        #div3 {
            -webkit-animation-timing-function: ease-in;
            font-size: 100px;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        #div4 {
            -webkit-animation-timing-function: ease-out;
            font-size: 100px;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        #div5 {
            -webkit-animation-timing-function: ease-in-out;
            font-size: 100px;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        /* Standard syntax */

        #div1 {
            animation-timing-function: linear;
            font-size: 100px;
            color: #ffffff;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        #div2 {
            animation-timing-function: ease;
            font-size: 100px;
            color: #ccffcc;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        #div3 {
            animation-timing-function: ease-in;
            font-size: 100px;
            color: #ffb3d1;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        #div4 {
            animation-timing-function: ease-out;
            font-size: 100px;
            color: #ff7733;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        #div5 {
            animation-timing-function: ease-in-out;
            font-size: 100px;
            color: #b3ffff;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    </style>
}

<!--BACKGROUND-->
<div class="background">
    <div class="transbox">
        <div class="transbox2">
                <div id="div1" class="move">Talvi....Talvi....Talvi...Talvi...Talvi....Talvi....</div>
                <div id="div1" class="move2">Talvi....Talvi....Talvi...Talvi...Talvi....Talvi..</div>
                <div id="div2" class="move">Kevät...Kevät...Kevät...Kevät...Kevät...Kevät.......</div>
                <div id="div2" class="move2">Kevät...Kevät...Kevät...Kevät...Kevät...Kevät.....</div>
                <div id="div3" class="move">Kesä....Kesä......Kesä.....Kesä......Kesä...Kesä....</div>
                <div id="div3" class="move2">Kesä....Kesä......Kesä.....Kesä....Kesä...Kesä....</div>
                <div id="div4" class="move">Syksy....Syksy...Syksy........Syksy.....Syksy.......</div>
                <div id="div4" class="move2">Syksy....Syksy...Syksy........Syksy.....Syksy.....</div>
                <div id="div5" class="move">Talvi........Talvi........Talvi....Talvi.......Talvi</div>
                <div id="div5" class="move2">Talvi........Talvi........Talvi....Talvi.....Talvi</div>
                <div id="div2" class="move">Kevät...Kevät...Kevät...Kevät...Kevät...Kevät.......</div>
                <div id="div2" class="move2">Kevät...Kevät...Kevät...Kevät...Kevät...Kevät.....</div>
                <div id="div3" class="move">Kesä....Kesä......Kesä.....Kesä......Kesä...Kesä....</div>
                <div id="div3" class="move2">Kesä....Kesä......Kesä.....Kesä....Kesä...Kesä....</div>
                <div id="div4" class="move">Syksy....Syksy...Syksy........Syksy.....Syksy.......</div>
                <div id="div4" class="move2">Syksy....Syksy...Syksy........Syksy.....Syksy.....</div>   
        </div>
    </div>
</div><!-- /.background END -->
