@{
    ViewBag.Title = "VisualWEBsites";
}

@section scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}

@section head{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="~/Content/carousel.css" rel="stylesheet" />
    <link href="~/Content/Mysite.css" rel="stylesheet" />
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        div.col-lg-3 {
            margin-top: 5%;
            text-align: center;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        body {
           /* font-family: "Lato", sans-serif*/
        }

        .mySlides {
            display: none
        }
    </style>
}

<body class="w3-light-grey">
    <main role="main">
        <!-- WRAPPER
        ================================================== -->
        <div class="wrapper">
            <!-- Container
            ================================================== -->
            <div class="container">


                <!-- Automatic Slideshow Images -->
                <div class="mySlides w3-display-container w3-center">
                    <img src="~/Images/Talvenkajo.jpg" style="width:100%">
                    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
                        <h3>Talvimaisemia</h3>
                        <p><b>Rentoudu ja nauti näistä upeista talvimaisemista.</b></p>
                    </div>
                </div>
                <div class="mySlides w3-display-container w3-center">
                    <img src="~/Images/kevät2.jpg" style="width:100%">
                    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
                        <h3>Kevätmaisemia</h3>
                        <p><b>Alkukeväästä luonto kuoriutuu talvivaipastaan. Luonto on paljas ja karu, syli täynnä kesän odotusta.</b></p>
                    </div>
                </div>
                <div class="mySlides w3-display-container w3-center">
                    <img src="~/Images/kesälaituri.jpg" style="width:100%">
                    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
                        <h3>Kesämaisemia</h3>
                        <p><b>Kesällä päivänpaiste hellii luontoa. Niityt viheriöivät, kukat puhkeavat loistoonsa ja linnut konseroivat moniäänisesti.</b></p>
                    </div>
                </div>

                <div class="mySlides w3-display-container w3-center">
                    <img src="~/Images/syksy2.jpg" style="width:100%">
                    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
                        <h3>Kesämaisemia</h3>
                        <p><b>Syksyllä herää odotuksen kaipuu menneeseen ja tulevaan kesään.</b></p>
                    </div>
                </div>

          

                <div class="container marketing">
                    <!-- Four columns of text below the carousel -->
                    <div class="row">
                        <div class="col-lg-3">
                            <img class="bd-placeholder-img rounded-circle" role="img" src="~/Images/kevät.jpg" preserveaspectratio="xMidYMid slice" width="140" height="140">
                            <h2>Kevät</h2>
                            <p>Alkukeväästä luonto kuoriutuu talvivaipastaan. Luonto on paljas ja karu, syli täynnä kesän odotusta.</p>
                            <p><a class="btn btn-default" href="~/Sites/Kevatkuvat.cshtml" target="_blank" role="button">Kevätkuvia &raquo;</a></p>
                        </div><!-- /.col-lg-3 -->

                        <div class="col-lg-3">
                            <img class="bd-placeholder-img rounded-circle" role="img" src="~/Images/kesä.jpg" preserveaspectratio="xMidYMid slice" width="140" height="140">
                            <h2>Kesä</h2>
                            <p>Kesällä päivänpaiste hellii luontoa. Niityt viheriöivät, kukat puhkeavat loistoonsa ja linnut konseroivat moniäänisesti.</p>
                            <p><a class="btn btn-default" href="index3.html" target="_blank" role="button">Kesäkuvia &raquo;</a></p>
                        </div><!-- /.col-lg-3 -->

                        <div class="col-lg-3">
                            <img class="bd-placeholder-img rounded-circle" role="img" src="~/Images/syksy.jpg" preserveaspectratio="xMidYMid slice" width="140" height="140">
                            <h2>Syksy</h2>
                            <p>Syksyllä varastoidaan kevään sato ja vitamiinit. Luonto iloittelee väreillään. Voit aistia syksyn luomouksen iltaisessa kasteessa, kietoutua sumuverhoon tai kastella kasvosi syksyn pehmeällä sadevedellä. Marraskuusa kaikki on jo toisin, on aika hautautua pudonneiden lehtien hellään huomaan. Odottamaan päivänpäistetta ja uutta elämänkajoa.</p>
                            <p><a class="btn btn-default" href="index4.html" target="_blank" role="button">Syksykuvia &raquo;</a></p>
                        </div><!-- /.col-lg-3 -->

                        <div class="col-lg-3">
                            <img class="bd-placeholder-img rounded-circle" role="img" src="~/Images/talvi.jpg" preserveaspectratio="xMidYMid slice" width="140" height="140">
                            <h2>Talvi</h2>
                            <p>Talvella maa peittyy lumenvalkeaan harsoon. Luonto nukahtaa, kerää voimia uuteen sarastavaan kevääseen.</p>
                            <p><a class="btn btn-default" href="index1.html" target="_blank" role="button">Talvikuvia &raquo;</a></p>
                        </div><!-- /.col-lg-3 -->
                    </div><!-- /.row -->
                    
    <!-- START THE FEATURETTES -->

                    <hr class="featurette-divider">

                    <div class="row featurette">
                        <div class="col-md-7">
                            <h2 class="featurette-heading">Kesä sää lämmittää. <span class="text-muted">Luonnon uudeks' herättää.</span></h2>
                            <p class="lead">Kesällä päivänpaiste hellii luontoa. Niityt viheriöivät, kukat puhkeavat loistoonsa ja linnut konseroivat moniäänisesti.</p>
                        </div>
                        <div class="col-md-5">
                            <img class="featurette-image img-responsive center-block" src="~/Images/kesä.jpg" alt="kesä" width="300" height="533">
                        </div>
                    </div>

                    <hr class="featurette-divider">

                    <div class="row featurette">
                        <div class="col-md-7 col-md-push-5">
                            <h2 class="featurette-heading">What a wonderful nature. <span class="text-muted">See for yourself.</span></h2>
                            <p class="lead">Luonto tarjoaa moninaisia mahdollisuuksia. Luontoon voi sukeltaa vaikka puiden keskelle ja luoda itselleen satumainen seikkailu.</p>
                        </div>
                        <div class="col-md-5 col-md-pull-7">
                            <img class="featurette-image img-responsive center-block" src="~/Images/satumetsä.jpg" alt="satumetsä">
                        </div>
                    </div>

                    <hr class="featurette-divider">

                    <div class="row featurette">
                        <div class="col-md-7">
                            <h2 class="featurette-heading">Arvosta luontoa. <span class="text-muted">Nauti.Innostu.</span></h2>
                            <p class="lead">Luonnossa voi retkeillä ja aistia luonnon kauneuttua, sen tuoksua. Luonto ei ole itsestäänselvyys. Kunnioittakaamme luontoa.</p>
                        </div>
                        <div class="col-md-5">
                            <img class="featurette-image img-responsive center-block" src="~/Images/rantametsä.jpg" alt="rantametsä">
                        </div>
                    </div>

                    <hr class="featurette-divider">
                    <!-- /END THE FEATURETTES -->
                    
    <!-- FOOTER -->
                    <footer>
                        <p class="pull-right"><a href="#">Takaisin ylös</a></p>
                    </footer><!-- FOOTER END -->

                </div><!-- /.container marketing END -->
            </div><!--container END-->
        </div><!-- /.wrapper END -->
    </main>

</body>


<script>
    // Automatic Slideshow - change image every 4 seconds
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 4000);
    }

    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }

    // When the user clicks anywhere outside of the modal, close it
    var modal = document.getElementById('ticketModal');
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>