@{
    ViewBag.Title = "VisualWEBsites";
}


@section scripts{

<link href="~/Sectionscripts/carousel.css" rel="stylesheet" />
<link href="~/Sectionscripts/Site.css" rel="stylesheet" />

<script src="~/Scripts/carousel.js"></script>    
<script src="~/Sectionscripts/carousel.js"></script>

}


<body class="w3-light-grey">
    <!-- WRAPPER
    ================================================== -->
    <div class="wrapper">

        <div class="container">

            <!-- Carousel
            ================================================== -->
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner" role="listbox">

                    <div class="item active">
                        <img class="first-slide" src="~/Images/Talvenkajo.jpg" alt="First slide" height="600" width="1080">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>Talvimaisemia</h1>
                                <p>Rentoudu ja nauti näistä upeista talvimaisemista.</p>
                                <!--<p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p> -->
                                <p><a class="btn btn-lg btn-primary" href="Talvikuvat.cshtml" target="_blank" role="button">Talvikuvia</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <img class="second-slide" src="~/Images/kevät2.jpg" alt="Second slide" height="600">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>Kevätmaisemia</h1>
                                <p>Alkukeväästä luonto kuoriutuu talvivaipastaan. Luonto on paljas ja karu, syli täynnä kesän odotusta. </p>
                                <p><a class="btn btn-lg btn-primary" href="index2.html" target="_blank" role="button">Kevätkuvia</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <img class="third-slide" src="~/Images/kesälaituri.jpg" alt="Third slide" height="600">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>Kesämaisemia</h1>
                                <p>Kesällä päivänpaiste hellii luontoa. Niityt viheriöivät, kukat puhkeavat loistoonsa ja linnut konseroivat moniäänisesti.</p>
                                <p><a class="btn btn-lg btn-primary" href="index3.html" target="_blank" role="button">Kesäkuvia</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <img class="fourth-slide" src="~/Images/syksy2.jpg" alt="Fourth slide" height="600">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>Syksymaisemia</h1>
                                <p>Syksyllä herää odotuksen kaipuu menneeseen ja tulevaan kesään.</p>
                                <p><a class="btn btn-lg btn-primary" href="Syksykuvat.html" target="_blank" role="button">Syksykuvia</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div><!-- /.carouselEND -->
            <!-- Marketing messaging and featurettes
                ================================================== -->
            <!-- Wrap the rest of the page in another container to center all the content. -->

            <div class="container marketing">

                <!-- Four columns of text below the carousel -->

                <div class="row">

                    <div class="col-sm-4">
                        <img class="img-circle" src="~/Images/kevät.jpg" alt="kevätkuva" width="140" height="140">
                        <h2>Kevät</h2>
                        <p>Alkukeväästä luonto kuoriutuu talvivaipastaan. Luonto on paljas ja karu, syli täynnä kesän odotusta.</p>
                        <p><a class="btn btn-default" href="~/Views/Sites/Kevatkuvat.cshtml" target="_blank" role="button">Kevätkuvia &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->


                    <div class="col-sm-4">
                        <img class="img-circle" src="~/Images/kesä.jpg" alt="kesäkuva" width="140" height="140">
                        <h2>Kesä</h2>
                        <p>Kesällä päivänpaiste hellii luontoa. Niityt viheriöivät, kukat puhkeavat loistoonsa ja linnut konseroivat moniäänisesti.</p>
                        <p><a class="btn btn-default" href="index3.html" target="_blank" role="button">Kesäkuvia &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->

                    <div class="col-sm-4">
                        <img class="img-circle" src="~/Images/syksy.jpg" alt="syksykuva" width="140" height="140">
                        <h2>Syksy</h2>
                        <p>Syksyllä varastoidaan kevään sato ja vitamiinit. Luonto iloittelee väreillään. Voit aistia syksyn luomouksen iltaisessa kasteessa, kietoutua sumuverhoon tai kastella kasvosi syksyn pehmeällä sadevedellä. Marraskuusa kaikki on jo toisin, on aika hautautua pudonneiden lehtien hellään huomaan. Odottamaan päivänpäistetta ja uutta elämänkajoa.</p>
                        <p><a class="btn btn-default" href="index4.html" target="_blank" role="button">Syksykuvia &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->

                    <div class="col-sm-4">
                        <img class="img-circle" src="~/Images/talvi.jpg" alt="talvikuva" width="140" height="140">
                        <h2>Talvi</h2>
                        <p>Talvella maa peittyy lumenvalkeaan harsoon. Luonto nukahtaa, kerää voimia uuteen sarastavaan kevääseen.</p>
                        <p><a class="btn btn-default" href="index1.html" target="_blank" role="button">Talvikuvia &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
                <!-- START THE FEATURETTES -->

                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">Kesä sää lämmittää. <span class="text-muted">Luonnon uudeks' herättää.</span></h2>
                        <p class="lead">Kesällä päivänpaiste hellii luontoa. Niityt viheriöivät, kukat puhkeavat loistoonsa ja linnut konseroivat moniäänisesti.</p>
                    </div>
                    <div class="col-md-5">
                        <img class="featurette-image img-responsive center-block" src="~/Images/kesä.jpg" alt="kesä" width="300" height="533">
                    </div>
                </div>

                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="col-md-7 col-md-push-5">
                        <h2 class="featurette-heading">What a wonderful nature. <span class="text-muted">See for yourself.</span></h2>
                        <p class="lead">Luonto tarjoaa moninaisia mahdollisuuksia. Luontoon voi sukeltaa vaikka puiden keskelle ja luoda itselleen satumainen seikkailu.</p>
                    </div>
                    <div class="col-md-5 col-md-pull-7">
                        <img class="featurette-image img-responsive center-block" src="~/Images/satumetsä.jpg" alt="satumetsä">
                    </div>
                </div>

                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">Arvosta luontoa. <span class="text-muted">Nauti.Innostu.</span></h2>
                        <p class="lead">Luonnossa voi retkeillä ja aistia luonnon kauneuttua, sen tuoksua. Luonto ei ole itsestäänselvyys. Kunnioittakaamme luontoa.</p>
                    </div>
                    <div class="col-md-5">
                        <img class="featurette-image img-responsive center-block" src="~/Images/rantametsä.jpg" alt="rantametsä">
                    </div>
                </div>

                <hr class="featurette-divider">
                <!-- /END THE FEATURETTES -->
                <!-- FOOTER -->
                <footer>
                    <p class="pull-right"><a href="#">Takaisin ylös</a></p>
                </footer><!-- FOOTER END -->

            </div><!-- /.container marketing END -->
        </div><!--container END-->
    </div><!-- /.wrapper END -->

    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

</body>