/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  /*padding-bottom: 40px;*/
  color: #5a5a5a;/*harmaa*/
  margin:0;
  padding:0;
  /*background-color:rgb(220, 220, 220);*/
 
}
.wrapper {
    color: rgb(220, 220, 220);/*harmaa*/
    margin: 0px auto;
    /*padding:0;*/
    /*background-color: rgb(254,254,254);/*valkoinen*/
    /*opacity:0.9;*/
    background-image: url('../Images/jaatausta.jpg');
    background-repeat: repeat;
    /*padding-right: 15px;
    padding-left: 15px;*/
    margin-right: auto;
    margin-left: auto;
    width:auto;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 5px;
  padding-left: 5px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
/*poimittu bootstrap.css->*/
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width:100%;
  
}
@media (min-width: 768px) {
  .container {
    /*width: 750px;*/
    width:100%;
  }
}
@media (min-width: 992px) {
  .container {
    /*width: 970px;*/
    width:100%;
  }
}
@media (min-width: 1200px) {
  .container {
    /*width: 1170px;*/
    width:100%;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}


/*<-poimittu bootstrap.css*/


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 600px;
  width:100%;
  margin-bottom: 60px;
  position: relative;
  /*padding-right: 0px;*/
  /*padding-left: 0px;*/
  /*margin-right: auto;*/
  /*margin-left: auto;*/
  
 

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 600px;
  /*background-color: #777;*/
  width:auto;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 600px;
   
}
@media (min-width: 768px) {
  .carousel {
    /*width: 750px;*/
    width:100%;
  }
}
@media (min-width: 992px) {
  .carousel {
    /*width: 970px;*/
    width:100%;
  }
}
@media (min-width: 1200px) {
    .carousel {
        /*width: 1170px;*/
        width:100%;
    }
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the four columns below the carousel */
.marketing .col-sm-4 {
  margin-bottom: 20px;
  text-align: center;
}
.col-sm-4 {
    width: 24.9999% !important;
}
.background2 {
    width: 100%;
}
.marketing h2 {
  font-weight: normal;
  
}
.marketing .col-sm-4 p {
  margin-right: 15px;
  margin-left: 15px;
}
p {
    color: rgb(53, 58, 64);
    font-size: 12px;
}
h2 {
    color:rgb(53, 58, 64);
    font-size:24px;

   }

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 1000px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 0px;
    }
}

@media (min-width: 1190px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
@media screen and (min-width:1000px) {
    body {
        background-color: rgb(220, 220, 220);
        background-image: url("jaatausta.jpg");
    }
}
  .navbar-wrapper .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }




    

    



